In [1]:
import pandas as pd

import openai
import re

from textwrap import dedent

In [2]:
def choose_table(tables, question):
    newline ='\n'
    
    prompt = dedent(f'''List at most three tables, separated by '|', needed to answer each question. 
        You have the following SQL tables of US Census data to choose from:
        
        {(newline).join(tables)}
        
        Question: `Where do people have more dial-up internet than other kinds?`
        Answer: acs_internet_access
        
        Question: `Which areas have the most kids?`
        Answer: acs_sex_by_age
        
        Question: `Where has the most rich people and people on Medicare?`
        Answer: acs_ratio_of_income_to_poverty_level|acs_medicare
        
        Question: `areas with long commutes`
        Answer: acs_commute_times
        
        Question: `{question}`
        Answer:''')
    
    response = openai.Completion.create(
        engine="text-davinci-003",
        prompt=prompt,
        temperature=0.9,
        max_tokens=1000,
        top_p=1,
        frequency_penalty=0,
        presence_penalty=0,
    )
    
    tables = response.choices[0].text
    tables = re.split('\||\n', tables)
    tables = [s.strip() for s in tables]
    print(tables)
    return tables

def draft_query(query_tables, DDLs, question):
    prompt = dedent(f'''Convert text to SQL.
        
        You have the following tables and columns:
    ''')
    
    for i in range(len(query_tables)):
        prompt += dedent(f'''
        {query_tables[i]}: {DDLs[query_tables[i]]}
        ''')
        
    prompt += dedent(f'''
        Question: Which areas have the most kids?
        SQL: SELECT zcta, (num_male_under_5_years + num_male_5_to_9_years + num_male_10_to_14_years + num_male_15_to_17_years + num_female_under_5_years + num_female_5_to_9_years + num_female_10_to_14_years + num_female_15_to_17_years) / total_population AS fraction_kids FROM acs_sex_by_age WHERE total_population > 0 ORDER BY fraction_kids DESC
        
        Question: Which areas are mostly white?
        SQL: SELECT zcta, num_white_alone / total_population AS fraction_white FROM acs_race WHERE total_population > 0 ORDER BY fraction_white DESC
        
        Question: Show me the most Hispanic areas.
        SQL: SELECT zcta, num_hispanic_or_latino / total_population AS fraction_hispanic FROM acs_hispanic WHERE total_population > 0 ORDER BY fraction_hispanic DESC
        
        Question: {question}
        SQL:''')
        
    return prompt

def text_to_sql(tables, DDLs, question):
    while True:
        try:
            query_tables = choose_table(tables, question)

            prompt = draft_query(query_tables, DDLs, question)

            response = openai.Completion.create(
                engine="text-davinci-003",
                prompt=prompt,
                temperature=0.9,
                max_tokens=1000,
                top_p=1,
                frequency_penalty=0,
                presence_penalty=0,
            )

        except error.RateLimitError:
            print('RateLimitError')
            time.sleep(15)
            continue

        print(response['choices'][0]['text'])
        return response['choices'][0]['text']

In [17]:
tables = [
    "acs_sex_by_age",
    "acs_race",
    "acs_hispanic",
    "acs_commute_times",
    "acs_employment_by_industry",
    "acs_commute_modes",
    "acs_education_subjects",
    "acs_housing_year_built",
    "acs_poverty_status",
    "acs_ratio_of_income_to_poverty_level",
    "acs_earners_in_household",
    "acs_housing",
    "acs_medicare",
    "acs_gross_rent_household_income_ratio",
    "acs_household_size_by_vehicles_available",
    "acs_internet_access",
    "acs_educational_attainment",
    "acs_hh_income"
]

DDLs = {
"acs_sex_by_age": "zcta VARCHAR, total_population REAL, num_male REAL, num_male_under_5_years REAL, num_male_5_to_9_years REAL, num_male_10_to_14_years REAL, num_male_15_to_17_years REAL, num_male_18_and_19_years REAL, num_male_20_years REAL, num_male_21_years REAL, num_male_22_to_24_years REAL, num_male_25_to_29_years REAL, num_male_30_to_34_years REAL, num_male_35_to_39_years REAL, num_male_40_to_44_years REAL, num_male_45_to_49_years REAL, num_male_50_to_54_years REAL, num_male_55_to_59_years REAL, num_male_60_and_61_years REAL, num_male_62_to_64_years REAL, num_male_65_and_66_years REAL, num_male_67_to_69_years REAL, num_male_70_to_74_years REAL, num_male_75_to_79_years REAL, num_male_80_to_84_years REAL, num_male_85_years_and_over REAL, num_female REAL, num_female_under_5_years REAL, num_female_5_to_9_years REAL, num_female_10_to_14_years REAL, num_female_15_to_17_years REAL, num_female_18_and_19_years REAL, num_female_20_years REAL, num_female_21_years REAL, num_female_22_to_24_years REAL, num_female_25_to_29_years REAL, num_female_30_to_34_years REAL, num_female_35_to_39_years REAL, num_female_40_to_44_years REAL, num_female_45_to_49_years REAL, num_female_50_to_54_years REAL, num_female_55_to_59_years REAL, num_female_60_and_61_years REAL, num_female_62_to_64_years REAL, num_female_65_and_66_years REAL, num_female_67_to_69_years REAL, num_female_70_to_74_years REAL, num_female_75_to_79_years REAL, num_female_80_to_84_years REAL, num_female_85_years_and_over REAL"
,"acs_race": "zcta VARCHAR, total_population REAL, num_white_alone REAL, num_black_or_african_american_alone REAL, num_american_indian_and_alaska_native_alone REAL, num_asian_alone REAL, num_native_hawaiian_and_other_pacific_islander_alone REAL, num_some_other_race_alone REAL, num_two_or_more_races REAL, num_two_or_more_races_two_races_including_some_other_race REAL, num_two_or_more_races_two_races_excluding_some_other_race_and_three_or_more_races REAL"
,"acs_hispanic": "zcta VARCHAR, total_population REAL, num_not_hispanic_or_latino REAL, num_not_hispanic_or_latino_white_alone REAL, num_not_hispanic_or_latino_black_or_african_american_alone REAL, num_not_hispanic_or_latino_american_indian_and_alaska_native_alone REAL, num_not_hispanic_or_latino_asian_alone REAL, num_not_hispanic_or_latino_native_hawaiian_and_other_pacific_islander_alone REAL, num_not_hispanic_or_latino_some_other_race_alone REAL, num_not_hispanic_or_latino_two_or_more_races REAL, num_not_hispanic_or_latino_two_or_more_races_two_races_including_some_other_race REAL, num_not_hispanic_or_latino_two_or_more_races_two_races_excluding_some_other_race_and_three_or_more_races REAL, num_hispanic_or_latino REAL, num_hispanic_or_latino_white_alone REAL, num_hispanic_or_latino_black_or_african_american_alone REAL, num_hispanic_or_latino_american_indian_and_alaska_native_alone REAL, num_hispanic_or_latino_asian_alone REAL, num_hispanic_or_latino_native_hawaiian_and_other_pacific_islander_alone REAL, num_hispanic_or_latino_some_other_race_alone REAL, num_hispanic_or_latino_two_or_more_races REAL, num_hispanic_or_latino_two_or_more_races_two_races_including_some_other_race REAL, num_hispanic_or_latino_two_or_more_races_two_races_excluding_some_other_race_and_three_or_more_races REAL"
,"acs_commute_times": "zcta VARCHAR, total_commuter_population REAL, num_less_than_5_minutes REAL, num_5_to_9_minutes REAL, num_10_to_14_minutes REAL, num_15_to_19_minutes REAL, num_20_to_24_minutes REAL, num_25_to_29_minutes REAL, num_30_to_34_minutes REAL, num_35_to_39_minutes REAL, num_40_to_44_minutes REAL, num_45_to_59_minutes REAL, num_60_to_89_minutes REAL, num_90_or_more_minutes REAL"
,"acs_employment_by_industry": "zcta VARCHAR, total_working_population REAL, num_agriculture_forestry_fishing_and_hunting_and_mining REAL, num_construction REAL, num_manufacturing REAL, num_transportation_and_warehousing_and_utilities REAL, num_information REAL, num_finance_and_insurance_and_real_estate_and_rental_and_leasing REAL, num_professional_scientific_and_management_and_administrative_and_waste_management_services REAL, num_educational_services_and_health_care_and_social_assistance REAL, num_arts_entertainment_and_recreation_and_accommodation_and_food_services REAL, num_other_services REAL, num_public_administration REAL, num_armed_forces REAL"
,"acs_commute_modes": "zcta VARCHAR, total_working_population REAL, num_drove_alone REAL, num_carpooled REAL, num_public_transportation REAL, num_walked REAL, num_taxicab_motorcycle_bicycle_or_other REAL, num_worked_from_home REAL"
,"acs_education_subjects": "zcta VARCHAR, total_num_bachelors_holders REAL, num_science_and_engineering_computers_mathematics_and_statistics REAL, num_science_and_engineering_biological_agricultural_and_environmental_sciences REAL, num_science_and_engineering_physical_and_related_sciences REAL, num_science_and_engineering_psychology REAL, num_science_and_engineering_social_sciences REAL, num_science_and_engineering_engineering REAL, num_science_and_engineering_multidisciplinary_studies REAL, num_science_and_engineering_related_fields REAL, num_business REAL, num_education REAL, num_arts_humanities_and_other_literature_and_languages REAL, num_arts_humanities_and_other_liberal_arts_and_history REAL, num_arts_humanities_and_other_visual_and_performing_arts REAL, num_arts_humanities_and_other_communications REAL, num_arts_humanities_and_other_other REAL"
,"acs_housing_year_built": "zcta VARCHAR, total_structures REAL, num_built_2020_or_later REAL, num_built_2010_to_2019 REAL, num_built_2000_to_2009 REAL, num_built_1990_to_1999 REAL, num_built_1980_to_1989 REAL, num_built_1970_to_1979 REAL, num_built_1960_to_1969 REAL, num_built_1950_to_1959 REAL, num_built_1940_to_1949 REAL, num_built_1939_or_earlier REAL"
,"acs_poverty_status": "zcta VARCHAR, total_households REAL, num_income_in_the_past_12_months_below_poverty_level REAL, num_income_in_the_past_12_months_below_poverty_level_under_6_years REAL, num_income_in_the_past_12_months_below_poverty_level_6_to_11_years REAL, num_income_in_the_past_12_months_below_poverty_level_12_to_17_years REAL, num_income_in_the_past_12_months_below_poverty_level_18_to_59_years REAL, num_income_in_the_past_12_months_below_poverty_level_60_to_74_years REAL, num_income_in_the_past_12_months_below_poverty_level_75_to_84_years REAL, num_income_in_the_past_12_months_below_poverty_level_85_years_and_over REAL, num_income_in_the_past_12_months_at_or_above_poverty_level REAL, num_income_in_the_past_12_months_at_or_above_poverty_level_under_6_years REAL, num_income_in_the_past_12_months_at_or_above_poverty_level_6_to_11_years REAL, num_income_in_the_past_12_months_at_or_above_poverty_level_12_to_17_years REAL, num_income_in_the_past_12_months_at_or_above_poverty_level_18_to_59_years REAL, num_income_in_the_past_12_months_at_or_above_poverty_level_60_to_74_years REAL, num_income_in_the_past_12_months_at_or_above_poverty_level_75_to_84_years REAL, num_income_in_the_past_12_months_at_or_above_poverty_level_85_years_and_over REAL"
,"acs_ratio_of_income_to_poverty_level": "zcta VARCHAR, total_households REAL, num_under_50_pct REAL, num_50_to_74_pct REAL, num_75_to_99_pct REAL, num_100_to_124_pct REAL, num_125_to_149_pct REAL, num_150_to_174_pct REAL, num_175_to_184_pct REAL, num_185_to_199_pct REAL, num_200_to_299_pct REAL, num_300_to_399_pct REAL, num_400_to_499_pct REAL, num_500_pct_and_over REAL"
,"acs_earners_in_household": "zcta VARCHAR, total_num_earners FLOAT, num_no_earners FLOAT, num_1_earner FLOAT, num_2_earners FLOAT, num_3_or_more_earners FLOAT"
,"acs_housing": "zcta TEXT, num_housing_units REAL, num_heated_by_utility_gas REAL, num_heated_by_bottled_tank_or_lp_gas REAL, num_heated_by_electricity REAL, num_heated_by_fuel_oil_kerosene_etc REAL, num_heated_by_coal_or_coke REAL, num_heated_by_wood REAL, num_heated_by_solar_energy REAL, num_heated_by_other_fuel REAL, num_heated_by_no_fuel_used REAL, num_owner_occupied REAL, num_renter_occupied REAL, num_complete_kitchen_facilities REAL, num_lacking_complete_kitchen_facilities REAL, aggregate_gross_rent REAL, aggregate_price_asked REAL, median_home_value REAL, num_housing_units_with_a_mortgage REAL, num_housing_units_with_a_mortgage_with_no_second_mortgage REAL, num_housing_units_without_a_mortgage REAL, total_not_charged_not_used_or_payment_included_in_other_fees REAL, total_charged_for_electricity REAL, total_charged_for_electricity_less_than_usd_50 REAL, total_charged_for_electricity_usd_50_to_usd_99 REAL, total_charged_for_electricity_usd_100_to_usd_149 REAL, total_charged_for_electricity_usd_150_to_usd_199 REAL, total_charged_for_electricity_usd_200_to_usd_249 REAL, total_charged_for_electricity_usd_250_or_more REAL, total_not_charged_or_payment_included_in_other_fees REAL, total_charged_for_water_and_sewer REAL, total_charged_for_water_and_sewer_less_than_usd_125 REAL, total_charged_for_water_and_sewer_usd_125_to_usd_249 REAL, total_charged_for_water_and_sewer_usd_250_to_usd_499 REAL, total_charged_for_water_and_sewer_usd_500_to_usd_749 REAL, total_charged_for_water_and_sewer_usd_750_to_usd_999 REAL, total_charged_for_water_and_sewer_usd_1000_or_more REAL, num_has_one_or_more_types_of_computing_devices REAL, num_has_one_or_more_types_of_computing_devices_desktop_or_laptop REAL, num_no_computer REAL"
,"acs_medicare": "zcta TEXT, total_population REAL, num_allocated_medicare REAL, num_not_allocated_medicare REAL"
,"acs_gross_rent_household_income_ratio": "zcta VARCHAR, num_hh_less_than_10pct REAL, num_hh_10pct_to_15pct REAL, num_hh_15pct_to_20pct REAL, num_hh_20pct_to_25pct REAL, num_hh_25pct_to_30pct REAL, num_hh_30pct_to_35pct REAL, num_hh_35pct_to_40pct REAL, num_hh_40pct_to_45pct REAL, num_hh_45pct_to_50pct REAL, num_hh_50pct_or_more REAL, num_hh_ratio_not_computed REAL"
,"acs_household_size_by_vehicles_available": "zcta STRING, num_hh REAL, num_hh_0_vehicles REAL, num_hh_1_vehicle REAL, num_hh_2_vehicles REAL, num_hh_3_vehicles REAL, num_hh_4_or_more_vehicles REAL, num_1_person_hh REAL, num_1_person_hh_0_vehicles REAL, num_1_person_hh_1_vehicles REAL, num_1_person_hh_2_vehicles REAL, num_1_person_hh_3_vehicles REAL, num_1_person_hh_4_or_more_vehicles REAL, num_2_person_hh REAL, num_2_person_hh_no_vehicle REAL, num_2_person_hh_1_vehicle REAL, num_2_person_hh_2_vehicles REAL, num_2_person_hh_3_vehicles REAL, num_2_person_hh_4_or_more_vehicles REAL, num_3_person_hh REAL, num_3_person_hh_no_vehicle REAL, num_3_person_hh_1_vehicle REAL, num_3_person_hh_2_vehicles REAL, num_3_person_hh_3_vehicles REAL, num_3_person_hh_4_or_more_vehicles REAL, num_4_or_more_person_hh REAL, num_4_or_more_person_hh_no_vehicle REAL, num_4_or_more_person_hh_1_vehicle REAL, num_4_or_more_person_hh_2_vehicles REAL, num_4_or_more_person_hh_3_vehicles REAL, num_4_or_more_person_hh_4_or_more_vehicles REAL"
,"acs_internet_access": "zcta TEXT, num_hh FLOAT, num_hh_with_internet FLOAT, num_hh_with_internet_via_dialup FLOAT, num_hh_with_internet_via_cable_fiber_optic_or_dsl FLOAT, num_hh_with_internet_via_satellite_internet FLOAT, num_hh_with_internet_via_other FLOAT, num_hh_with_no_internet FLOAT"
,"acs_educational_attainment": "zcta TEXT, num_pop_25_and_older FLOAT, num_less_than_high_school FLOAT, num_at_least_high_school FLOAT, num_at_least_some_college FLOAT, num_at_least_bachelors FLOAT, num_at_least_graduate_or_professional_degree FLOAT"
,"acs_hh_income": "zcta TEXT, num_hh FLOAT, num_hh_lt_10k FLOAT, num_hh_10k_to_15k FLOAT, num_hh_15k_to_19k FLOAT, num_hh_20k_to_24k FLOAT, num_hh_25k_to_29k FLOAT, num_hh_30k_to_34k FLOAT, num_hh_35k_to_39k FLOAT, num_hh_40k_to_44k FLOAT, num_hh_45k_to_49k FLOAT, num_hh_50k_to_59k FLOAT, num_hh_60k_to_74k FLOAT, num_hh_75k_to_99k FLOAT, num_hh_100k_to_124k FLOAT, num_hh_125k_to_149k FLOAT, num_hh_150k_to_199k FLOAT, num_hh_200k_or_more FLOAT, median_hh_income FLOAT"
}

In [12]:
df = pd.read_csv('questions.csv').iloc[100:]
df['query'] = ''

In [13]:
data = []
for idx, row in df.iterrows():
    print(idx)
    print(row['question'])
    
    if row['query'] != '':
        print('already completed')
        data.append(row['query'])
        continue
        
    query = text_to_sql(tables, DDLs, row['question'])
    data.append(query)
    df.loc[idx,'query'] = query

df

100
Which areas have the most kids?
['acs_sex_by_age']
 SELECT zcta, (num_male_under_5_years + num_male_5_to_9_years + num_male_10_to_14_years + num_male_15_to_17_years + num_female_under_5_years + num_female_5_to_9_years + num_female_10_to_14_years + num_female_15_to_17_years) / total_population AS fraction_kids FROM acs_sex_by_age WHERE total_population > 0 ORDER BY fraction_kids DESC
101
Which areas have the most retirees?
['acs_sex_by_age', 'acs_educational_attainment', 'acs_medicare']
 SELECT zcta, (num_65_and_66_years + num_67_to_69_years + num_70_to_74_years + num_75_to_79_years + num_80_to_84_years + num_85_years_and_over) / total_population AS fraction_retirees FROM acs_sex_by_age WHERE total_population > 0 ORDER BY fraction_retirees DESC
102
Which areas have the highest ratio of working age men to women?
['acs_sex_by_age', 'acs_race', 'acs_hispanic']
 SELECT zcta, (num_male_18_and_19_years + num_male_20_years + num_male_21_years + num_male_22_to_24_years + num_male_25_to_29_years + num_male_30_to_34_years + num_male_35_to_39_years + num_male_40_to_44_years + num_male_45_to_49_years + num_male_50_to_54_years + num_male_55_to_59_years + num_male_60_and_61_years + num_male_62_to_64_years + num_male_65_and_66_years + num_male_67_to_69_years + num_male_70_to_74_years + num_male_75_to_79_years + num_male_80_to_84_years + num_male_85_years_and_over) / (num_female_18_and_19_years + num_female_20_years + num_female_21_years + num_female_22_to_24_years + num_female_25_to_29_years + num_female_30_to_34_years + num_female_35_to_39_years + num_female_40_to_44_years + num_female_45_to_49_years + num_female_50_to_54_years + num_female_55_to_59_years + num_female_60_and_61_years + num_female_62_to_64_years + num_female_65_and_66_years + num_female_67_to_69_years + num_female_70_to_74_years + num_female_75_to_79_years + num_female_80_to_84_years + num_female_85_years_and_over) AS working_age_ratio FROM acs_sex_by_age WHERE total_population > 0 ORDER BY working_age_ratio DESC
103
Which areas are mostly white?
['acs_race']
 SELECT zcta, num_white_alone / total_population AS fraction_white FROM acs_race WHERE total_population > 0 ORDER BY fraction_white DESC
104
Show me the black population by ZCTA.
['acs_race', 'acs_housing']
 SELECT zcta, num_black_or_african_american_alone/total_population AS fraction_black FROM acs_race WHERE total_population > 0 ORDER BY fraction_black DESC
105
Where do the most Asians live?
['acs_race']
 SELECT zcta, num_asian_alone / total_population AS fraction_asian FROM acs_race WHERE total_population > 0 ORDER BY fraction_asian DESC
106
Show me the most Hispanic areas.
['acs_hispanic']
SELECT zcta, num_hispanic_or_latino / total_population AS fraction_hispanic FROM acs_hispanic WHERE total_population > 0 ORDER BY fraction_hispanic DESC
107
How does the fraction of white hispanic vs non-white hispanic population vary geographically?
['acs_hispanic', 'acs_race']
 SELECT zcta, (num_not_hispanic_or_latino_white_alone + num_hispanic_or_latino_white_alone) / (num_not_hispanic_or_latino + num_hispanic_or_latino) AS fraction_white_hispanic FROM acs_hispanic WHERE total_population > 0 ORDER BY fraction_white_hispanic DESC
108
Show me the most white non-Hispanic areas.
['acs_race', 'acs_hispanic']
 SELECT zcta, num_not_hispanic_or_latino_white_alone / num_not_hispanic_or_latino AS fraction_white FROM acs_hispanic WHERE total_population > 0 ORDER BY fraction_white DESC
109
areas with long commutes
['acs_commute_times']
 SELECT zcta, (num_60_to_89_minutes + num_90_or_more_minutes) / total_commuter_population AS fraction_long_commutes FROM acs_commute_times WHERE total_commuter_population > 0 ORDER BY fraction_long_commutes DESC
110
zip code areas with the highest percentage of residents with short commutes of less than 30 minutes
['acs_commute_times', 'acs_housing', 'acs_commute_modes']
 SELECT zcta, num_less_than_5_minutes + num_5_to_9_minutes + num_10_to_14_minutes + num_15_to_19_minutes + num_20_to_24_minutes + num_25_to_29_minutes + num_30_to_34_minutes AS less_than_30_minutes, total_commuter_population FROM acs_commute_times WHERE total_commuter_population > 0 ORDER BY less_than_30_minutes/total_commuter_population DESC
111
zip code areas with the highest percentage of residents with long commutes of 90 minutes or more
['acs_commute_times', 'acs_poverty_status', 'acs_housing']
 SELECT zcta, num_90_or_more_minutes / total_commuter_population AS fraction_90_min_or_more FROM acs_commute_times WHERE total_commuter_population > 0 ORDER BY fraction_90_min_or_more DESC
112
where am I likely to find the most people working in the arts, entertainment, and recreation industry
['acs_employment_by_industry']
 SELECT zcta, num_arts_entertainment_and_recreation_and_accommodation_and_food_services / total_working_population AS fraction_arts_entertainment_and_recreation FROM acs_employment_by_industry WHERE total_working_population > 0 ORDER BY fraction_arts_entertainment_and_recreation DESC
113
Where do people work in the educational services industry
['acs_employment_by_industry', 'acs_education_subjects']
 SELECT zcta, num_educational_services_and_health_care_and_social_assistance / total_working_population AS fraction_education FROM acs_employment_by_industry WHERE total_working_population > 0 ORDER BY fraction_education DESC
114
Where do miners live?
['acs_employment_by_industry']
 SELECT zcta, num_agriculture_forestry_fishing_and_hunting_and_mining / total_working_population AS fraction_mining FROM acs_employment_by_industry WHERE total_working_population > 0 ORDER BY fraction_mining DESC
115
What are the most common places where people work from home?
['acs_employment_by_industry', 'acs_commute_modes']
 SELECT zcta, num_worked_from_home / total_working_population AS fraction_worked_from_home FROM acs_commute_modes WHERE total_working_population > 0 ORDER BY fraction_worked_from_home DESC
116
Where do the most people take public transit?
['acs_commute_modes']
 SELECT zcta, num_public_transportation / total_working_population AS fraction_public_transit FROM acs_commute_modes WHERE total_working_population > 0 ORDER BY fraction_public_transit DESC
117
What’s the most common way to get to work in every ZIP code?
['acs_commute_modes']
 SELECT zcta, MAX(num_drove_alone, num_carpooled, num_public_transportation, num_walked, num_taxicab_motorcycle_bicycle_or_other, num_worked_from_home) AS most_common_commute_mode FROM acs_commute_modes GROUP BY zcta ORDER BY most_common_commute_mode DESC
118
Where do the history majors live?
['acs_education_subjects', 'acs_housing', 'acs_housing_year_built']
 SELECT zcta, num_arts_humanities_and_other_liberal_arts_and_history / total_num_bachelors_holders AS fraction_history_majors FROM acs_education_subjects WHERE total_num_bachelors_holders > 0 ORDER BY fraction_history_majors DESC
119
Where is it most common to study math?
['acs_education_subjects']
 SELECT zcta, num_science_and_engineering_computers_mathematics_and_statistics / total_num_bachelors_holders AS fraction_math FROM acs_education_subjects WHERE total_num_bachelors_holders > 0 ORDER BY fraction_math DESC
120
How many people studied arts and humanities?
['acs_education_subjects']
 SELECT SUM(num_arts_humanities_and_other_literature_and_languages + num_arts_humanities_and_other_liberal_arts_and_history + num_arts_humanities_and_other_visual_and_performing_arts + num_arts_humanities_and_other_communications + num_arts_humanities_and_other_other) AS total_arts_humanities FROM acs_education_subjects;
121
Where were the most houses built in the 1950s?
['acs_housing_year_built']
 SELECT zcta, num_built_1950_to_1959 / total_structures AS fraction_built_1950s FROM acs_housing_year_built WHERE total_structures > 0 ORDER BY fraction_built_1950s DESC
122
Where were the most houses built during the housing boom of the early 2000s?
['acs_housing_year_built']
 SELECT zcta, num_built_2000_to_2009 / total_structures AS fraction_built_2000_to_2009 FROM acs_housing_year_built WHERE total_structures > 0 ORDER BY fraction_built_2000_to_2009 DESC
123
Where are the oldest houses?
['acs_housing_year_built']
 SELECT zcta, num_built_1939_or_earlier / total_structures AS fraction_old_homes FROM acs_housing_year_built WHERE total_structures > 0 ORDER BY fraction_old_homes DESC
124
Where is gas heating most common?

['acs_housing', 'acs_housing_year_built']
 SELECT zcta, num_heated_by_utility_gas / num_housing_units AS fraction_heated_by_utility_gas FROM acs_housing WHERE num_housing_units > 0 ORDER BY fraction_heated_by_utility_gas DESC
125
Which ZIP codes have the most renters?
['acs_housing', 'acs_gross_rent_household_income_ratio', 'acs_household_size_by_vehicles_available']

SELECT zcta, num_renter_occupied / num_housing_units AS fraction_renters FROM acs_housing WHERE num_housing_units > 0 ORDER BY fraction_renters DESC
126
Where do people spend the most on electricity?
['acs_housing', 'acs_housing_year_built']
 SELECT zcta, (total_charged_for_electricity_usd_50_to_usd_99 + total_charged_for_electricity_usd_100_to_usd_149 + total_charged_for_electricity_usd_150_to_usd_199 + total_charged_for_electricity_usd_200_to_usd_249 + total_charged_for_electricity_usd_250_or_more) / total_charged_for_electricity AS fraction_electricity FROM acs_housing ORDER BY fraction_electricity DESC
127
Where do people spend the most on housing?
['acs_housing', 'acs_housing_year_built', 'acs_gross_rent_household_income_ratio']
 SELECT zcta, num_housing_units_with_a_mortgage / (num_housing_units_with_a_mortgage + num_housing_units_without_a_mortgage) AS proportion_mortgaged, aggregate_gross_rent / total_not_charged_not_used_or_payment_included_in_other_fees AS avg_gross_rent_paid FROM acs_housing ORDER BY proportion_mortgaged DESC, avg_gross_rent_paid DESC
128
Where are people rent burdened? [define as 30pct+]
['acs_gross_rent_household_income_ratio', 'acs_ratio_of_income_to_poverty_level', 'acs_housing']
 SELECT zcta, (num_hh_30pct_to_35pct + num_hh_35pct_to_40pct + num_hh_40pct_to_45pct + num_hh_45pct_to_50pct + num_hh_50pct_or_more) / (num_hh_less_than_10pct + num_hh_10pct_to_15pct + num_hh_15pct_to_20pct + num_hh_20pct_to_25pct + num_hh_25pct_to_30pct + num_hh_30pct_to_35pct + num_hh_35pct_to_40pct + num_hh_40pct_to_45pct + num_hh_45pct_to_50pct + num_hh_50pct_or_more + num_hh_ratio_not_computed) AS fraction_rent_burdened FROM acs_gross_rent_household_income_ratio WHERE total_population > 0 ORDER BY fraction_rent_burdened DESC
129
Where are people severely rent burdened? [define as 50pct+]
['acs_gross_rent_household_income_ratio', 'acs_housing_year_built', 'acs_household_size_by_vehicles_available']
 SELECT zcta, num_hh_50pct_or_more / (num_hh_50pct_or_more + num_hh_less_than_50pct) AS fraction_50pct_or_more FROM acs_gross_rent_household_income_ratio WHERE num_hh_50pct_or_more > 0 ORDER BY fraction_50pct_or_more DESC
130
Which areas have the most people living below the poverty line?
['acs_poverty_status', 'acs_ratio_of_income_to_poverty_level', 'acs_earners_in_household']
 SELECT zcta, num_income_in_the_past_12_months_below_poverty_level / total_households AS fraction_below_poverty FROM acs_poverty_status WHERE total_households > 0 ORDER BY fraction_below_poverty DESC
131
Where are the most young children living in poverty?
['acs_sex_by_age', 'acs_poverty_status', 'acs_ratio_of_income_to_poverty_level']
 SELECT zcta, (num_income_in_the_past_12_months_below_poverty_level_under_6_years + num_income_in_the_past_12_months_below_poverty_level_6_to_11_years + num_income_in_the_past_12_months_below_poverty_level_12_to_17_years) / total_households AS fraction_kids_in_poverty FROM acs_poverty_status WHERE total_households > 0 ORDER BY fraction_kids_in_poverty DESC
132
Where is poverty among seniors the biggest problem?
['acs_sex_by_age', 'acs_poverty_status', 'acs_medicare']
 SELECT zcta, num_income_in_the_past_12_months_below_poverty_level_75_to_84_years / total_households AS fraction_seniors_in_poverty FROM acs_poverty_status WHERE total_households > 0 ORDER BY fraction_seniors_in_poverty DESC
133
Where do the poorest people live?
['acs_poverty_status', 'acs_ratio_of_income_to_poverty_level', 'acs_earners_in_household']
 SELECT zcta, (num_income_in_the_past_12_months_below_poverty_level / total_households) AS fraction_of_households_below_poverty_level FROM acs_poverty_status ORDER BY fraction_of_households_below_poverty_level DESC
134
Where do the richest people live?
['acs_ratio_of_income_to_poverty_level', 'acs_earners_in_household', 'acs_housing_year_built']
 SELECT zcta, (num_200_to_299_pct + num_300_to_399_pct + num_400_to_499_pct + num_500_pct_and_over) / total_households AS fraction_richest FROM acs_ratio_of_income_to_poverty_level WHERE total_households > 0 ORDER BY fraction_richest DESC
135
Which areas are the most middle class, with the fewest poor people or rich people?
['acs_ratio_of_income_to_poverty_level', 'acs_earners_in_household', 'acs_housing']
 SELECT zcta, ((num_50_to_74_pct + num_75_to_99_pct + num_100_to_124_pct + num_125_to_149_pct + num_150_to_174_pct)/total_households) AS fraction_middle_class FROM acs_ratio_of_income_to_poverty_level WHERE total_households > 0 ORDER BY fraction_middle_class DESC
136
Where do the most families not have an income earner?
['acs_earners_in_household']
 SELECT zcta, num_no_earners / total_num_earners AS fraction_no_earners FROM acs_earners_in_household WHERE total_num_earners > 0 ORDER BY fraction_no_earners DESC
137
Where do most two-income households live?
['acs_earners_in_household']
 SELECT zcta, num_2_earners / total_num_earners AS fraction_2_earners FROM acs_earners_in_household WHERE total_num_earners > 0 ORDER BY fraction_2_earners DESC
138
How common is it to have 3 or more income earners in a household?
['acs_earners_in_household']
 SELECT zcta, num_3_or_more_earners / total_num_earners AS fraction_3_earners FROM acs_earners_in_household WHERE total_num_earners > 0 ORDER BY fraction_3_earners DESC
139
How many people are on Medicare?
['acs_sex_by_age', 'acs_medicare', 'acs_housing_year_built']
 SELECT zcta, num_allocated_medicare / total_population AS fraction_medicare FROM acs_medicare WHERE total_population > 0 ORDER BY fraction_medicare DESC
140
Where do people get by without a car?
['acs_household_size_by_vehicles_available', 'acs_commute_modes']
 SELECT zcta, num_hh_0_vehicles / num_hh AS fraction_no_vehicle FROM acs_household_size_by_vehicles_available WHERE num_hh > 0 ORDER BY fraction_no_vehicle DESC
141
Where do households have more cars than people?
['acs_household_size_by_vehicles_available']
 SELECT zcta, num_hh_4_or_more_vehicles / num_hh AS cars_per_person FROM acs_household_size_by_vehicles_available WHERE num_hh > 0 ORDER BY cars_per_person DESC
142
Where do people have the most cars?
['acs_household_size_by_vehicles_available', 'acs_housing']
 SELECT zcta, num_hh_4_or_more_vehicles / num_hh AS fraction_cars FROM acs_household_size_by_vehicles_available WHERE num_hh > 0 ORDER BY fraction_cars DESC
143
areas with the highest percentage of people with a bachelor's degree
['acs_educational_attainment', 'acs_education_subjects', 'acs_earners_in_household']
 SELECT zcta, num_at_least_bachelors / num_pop_25_and_older AS fraction_bachelors FROM acs_educational_attainment WHERE num_pop_25_and_older > 0 ORDER BY fraction_bachelors DESC
144
Show me the number of people per household
['acs_household_size_by_vehicles_available', 'acs_poverty_status', 'acs_housing']
 SELECT zcta, num_hh / total_population AS people_per_household FROM acs_household_size_by_vehicles_available WHERE num_hh > 0 ORDER BY people_per_household DESC
145
Where do people still use dialup internet?
['acs_internet_access']
 SELECT zcta, num_hh_with_internet_via_dialup / num_hh AS fraction_dialup FROM acs_internet_access WHERE num_hh > 0 ORDER BY fraction_dialup DESC
146
Where is satellite internet most popular?
['acs_internet_access']
 SELECT zcta, num_hh_with_internet_via_satellite_internet / num_hh AS fraction_satellite FROM acs_internet_access WHERE num_hh > 0 ORDER BY fraction_satellite DESC
147
Which areas lack internet access?
['acs_internet_access']
 SELECT zcta, num_hh_with_no_internet / num_hh AS fraction_no_internet FROM acs_internet_access WHERE num_hh > 0 ORDER BY fraction_no_internet DESC
148
What are the least educated areas of the United States?
['acs_educational_attainment']
 SELECT zcta, (num_less_than_high_school + num_at_least_high_school + num_at_least_college + num_at_least_bachelors + num_at_least_graduate_or_professional_degree) / num_pop_25_and_older AS fraction_educated FROM acs_educational_attainment WHERE num_pop_25_and_older > 0 ORDER BY fraction_educated ASC
149
Where do people have the most advanced degrees?

['acs_education_subjects', 'acs_educational_attainment']
 SELECT zcta, num_at_least_graduate_or_professional_degree / num_pop_25_and_older AS fraction_advanced_degrees FROM acs_educational_attainment WHERE num_pop_25_and_older > 0 ORDER BY fraction_advanced_degrees DESC
150
Show me where people dropped out of college.
['acs_education_subjects', 'acs_educational_attainment', 'acs_earners_in_household']
 SELECT zcta, (num_at_least_college - num_at_least_bachelors) / num_at_least_college AS fraction_dropped FROM acs_educational_attainment WHERE num_at_least_college > 0 ORDER BY fraction_dropped DESC

,question,query
100,Which areas have the most kids?,"SELECT zcta, (num_male_under_5_years + num_ma..."
101,Which areas have the most retirees?,"SELECT zcta, (num_65_and_66_years + num_67_to..."
102,Which areas have the highest ratio of working ...,"SELECT zcta, (num_male_18_and_19_years + num_..."
103,Which areas are mostly white?,"SELECT zcta, num_white_alone / total_populati..."
104,Show me the black population by ZCTA.,"SELECT zcta, num_black_or_african_american_al..."
105,Where do the most Asians live?,"SELECT zcta, num_asian_alone / total_populati..."
106,Show me the most Hispanic areas.,"SELECT zcta, num_hispanic_or_latino / total_po..."
107,How does the fraction of white hispanic vs non...,"SELECT zcta, (num_not_hispanic_or_latino_whit..."
108,Show me the most white non-Hispanic areas.,"SELECT zcta, num_not_hispanic_or_latino_white..."
109,areas with long commutes,"SELECT zcta, (num_60_to_89_minutes + num_90_o..."
110,zip code areas with the highest percentage of ...,"SELECT zcta, num_less_than_5_minutes + num_5_..."
111,zip code areas with the highest percentage of ...,"SELECT zcta, num_90_or_more_minutes / total_c..."
112,where am I likely to find the most people work...,"SELECT zcta, num_arts_entertainment_and_recre..."
113,Where do people work in the educational servic...,"SELECT zcta, num_educational_services_and_hea..."
114,Where do miners live?,"SELECT zcta, num_agriculture_forestry_fishing..."
115,What are the most common places where people w...,"SELECT zcta, num_worked_from_home / total_wor..."
116,Where do the most people take public transit?,"SELECT zcta, num_public_transportation / tota..."
117,What’s the most common way to get to work in e...,"SELECT zcta, MAX(num_drove_alone, num_carpool..."
118,Where do the history majors live?,"SELECT zcta, num_arts_humanities_and_other_li..."
119,Where is it most common to study math?,"SELECT zcta, num_science_and_engineering_comp..."
120,How many people studied arts and humanities?,SELECT SUM(num_arts_humanities_and_other_lite...
121,Where were the most houses built in the 1950s?,"SELECT zcta, num_built_1950_to_1959 / total_s..."
122,Where were the most houses built during the ho...,"SELECT zcta, num_built_2000_to_2009 / total_s..."
123,Where are the oldest houses?,"SELECT zcta, num_built_1939_or_earlier / tota..."
124,Where is gas heating most common?,"SELECT zcta, num_heated_by_utility_gas / num_..."
125,Which ZIP codes have the most renters?,"\nSELECT zcta, num_renter_occupied / num_housi..."
126,Where do people spend the most on electricity?,"SELECT zcta, (total_charged_for_electricity_u..."
127,Where do people spend the most on housing?,"SELECT zcta, num_housing_units_with_a_mortgag..."
128,Where are people rent burdened? [define as 30p...,"SELECT zcta, (num_hh_30pct_to_35pct + num_hh_..."
129,Where are people severely rent burdened? [defi...,"SELECT zcta, num_hh_50pct_or_more / (num_hh_5..."
130,Which areas have the most people living below ...,"SELECT zcta, num_income_in_the_past_12_months..."
131,Where are the most young children living in po...,"SELECT zcta, (num_income_in_the_past_12_month..."
132,Where is poverty among seniors the biggest pro...,"SELECT zcta, num_income_in_the_past_12_months..."
133,Where do the poorest people live?,"SELECT zcta, (num_income_in_the_past_12_month..."
134,Where do the richest people live?,"SELECT zcta, (num_200_to_299_pct + num_300_to..."
135,"Which areas are the most middle class, with th...","SELECT zcta, ((num_50_to_74_pct + num_75_to_9..."
136,Where do the most families not have an income ...,"SELECT zcta, num_no_earners / total_num_earne..."
137,Where do most two-income households live?,"SELECT zcta, num_2_earners / total_num_earner..."
138,How common is it to have 3 or more income earn...,"SELECT zcta, num_3_or_more_earners / total_nu..."
139,How many people are on Medicare?,"SELECT zcta, num_allocated_medicare / total_p..."
140,Where do people get by without a car?,"SELECT zcta, num_hh_0_vehicles / num_hh AS fr..."
141,Where do households have more cars than people?,"SELECT zcta, num_hh_4_or_more_vehicles / num_..."
142,Where do people have the most cars?,"SELECT zcta, num_hh_4_or_more_vehicles / num_..."
143,areas with the highest percentage of people wi...,"SELECT zcta, num_at_least_bachelors / num_pop..."
144,Show me the number of people per household,"SELECT zcta, num_hh / total_population AS peo..."
145,Where do people still use dialup internet?,"SELECT zcta, num_hh_with_internet_via_dialup ..."
146,Where is satellite internet most popular?,"SELECT zcta, num_hh_with_internet_via_satelli..."
147,Which areas lack internet access?,"SELECT zcta, num_hh_with_no_internet / num_hh..."
148,What are the least educated areas of the Unite...,"SELECT zcta, (num_less_than_high_school + num..."
149,Where do people have the most advanced degrees?,"SELECT zcta, num_at_least_graduate_or_profess..."
150,Show me where people dropped out of college.,"SELECT zcta, (num_at_least_college - num_at_l..."

In [14]:
df.to_clipboard()

In [ ]:
df_copy = df.copy()

In [15]:
choose_table(tables, "Show me the number of people per household")

['acs_household_size_by_vehicles_available', 'acs_housing', 'acs_housing_year_built']

['acs_household_size_by_vehicles_available',
 'acs_housing',
 'acs_housing_year_built']