In [54]:
import pandas as pd

import openai
import re

from textwrap import dedent

In [65]:
def choose_table(tables, question):
    newline ='\n'
    
    prompt = dedent(f'''List at most three tables, separated by '|', needed to answer each question. 
        You have the following SQL tables of US Census data to choose from:
        
        {(newline).join(tables)}
        
        Question: `Where do people have more dial-up internet than other kinds?`
        Answer: acs_internet_access
        
        Question: `Which areas have the most kids?`
        Answer: acs_sex_by_age
        
        Question: `Where has the most rich people and people on Medicare?`
        Answer: acs_ratio_of_income_to_poverty_level|acs_medicare
        
        Question: `areas with long commutes`
        Answer: acs_commute_times
        
        Question: `{question}`
        Answer:
    ''')
    
    response = openai.Completion.create(
        engine="text-davinci-003",
        prompt=prompt,
        temperature=0.9,
        max_tokens=1000,
        top_p=1,
        frequency_penalty=0,
        presence_penalty=0,
    )
    
    tables = response.choices[0].text#.split('|')
    tables = re.split('\||\n', tables)
    tables = [s.strip() for s in tables]
    print(tables)
    return tables

def draft_query(query_tables, DDLs, question):
    prompt = dedent(f'''Convert text to SQL.
        
        You have the following tables and columns:
    ''')
    
    for i in range(len(query_tables)):
        prompt += dedent(f'''
        {query_tables[i]}: {DDLs[query_tables[i]]}
        ''')
        
    prompt += dedent(f'''
        Question: Which areas have the most kids?
        SQL: SELECT zcta, (num_male_under_5_years + num_male_5_to_9_years + num_male_10_to_14_years + num_male_15_to_17_years + num_female_under_5_years + num_female_5_to_9_years + num_female_10_to_14_years + num_female_15_to_17_years) / total_population AS fraction_kids FROM acs_sex_by_age WHERE total_population > 0 ORDER BY fraction_kids DESC
        
        Question: Which areas are mostly white?
        SQL: SELECT zcta, num_white_alone / total_population AS fraction_white FROM acs_race WHERE total_population > 0 ORDER BY fraction_white DESC
        
        Question: Show me the most Hispanic areas.
        SQL: SELECT zcta, num_hispanic_or_latino / total_population AS fraction_hispanic FROM acs_hispanic WHERE total_population > 0 ORDER BY fraction_hispanic DESC
        
        Question: {question}
        SQL:''')
        
    return prompt

def text_to_sql(tables, DDLs, question):
    while True:
        try:
            query_tables = choose_table(tables, question)

            prompt = draft_query(query_tables, DDLs, question)

            response = openai.Completion.create(
                engine="text-davinci-003",
                prompt=prompt,
                temperature=0.9,
                max_tokens=1000,
                top_p=1,
                frequency_penalty=0,
                presence_penalty=0,
            )

        except error.RateLimitError:
            print('RateLimitError')
            time.sleep(15)
            continue

        print(response['choices'][0]['text'])
        return response['choices'][0]['text']

In [12]:
tables = [
    "acs_sex_by_age",
    "acs_race",
    "acs_hispanic",
    "acs_commute_times",
    "acs_employment_by_industry",
    "acs_commute_modes",
    "acs_education_subjects",
    "acs_housing_year_built",
    "acs_poverty_status",
    "acs_ratio_of_income_to_poverty_level",
    "acs_earners_in_household",
    "acs_housing",
    "acs_medicare",
    "acs_gross_rent_household_income_ratio",
    "acs_household_size_by_vehicles_available",
    "acs_internet_access",
    "acs_educational_attainment"
]

DDLs = {
"acs_sex_by_age": "zcta VARCHAR, total_population REAL, num_male REAL, num_male_under_5_years REAL, num_male_5_to_9_years REAL, num_male_10_to_14_years REAL, num_male_15_to_17_years REAL, num_male_18_and_19_years REAL, num_male_20_years REAL, num_male_21_years REAL, num_male_22_to_24_years REAL, num_male_25_to_29_years REAL, num_male_30_to_34_years REAL, num_male_35_to_39_years REAL, num_male_40_to_44_years REAL, num_male_45_to_49_years REAL, num_male_50_to_54_years REAL, num_male_55_to_59_years REAL, num_male_60_and_61_years REAL, num_male_62_to_64_years REAL, num_male_65_and_66_years REAL, num_male_67_to_69_years REAL, num_male_70_to_74_years REAL, num_male_75_to_79_years REAL, num_male_80_to_84_years REAL, num_male_85_years_and_over REAL, num_female REAL, num_female_under_5_years REAL, num_female_5_to_9_years REAL, num_female_10_to_14_years REAL, num_female_15_to_17_years REAL, num_female_18_and_19_years REAL, num_female_20_years REAL, num_female_21_years REAL, num_female_22_to_24_years REAL, num_female_25_to_29_years REAL, num_female_30_to_34_years REAL, num_female_35_to_39_years REAL, num_female_40_to_44_years REAL, num_female_45_to_49_years REAL, num_female_50_to_54_years REAL, num_female_55_to_59_years REAL, num_female_60_and_61_years REAL, num_female_62_to_64_years REAL, num_female_65_and_66_years REAL, num_female_67_to_69_years REAL, num_female_70_to_74_years REAL, num_female_75_to_79_years REAL, num_female_80_to_84_years REAL, num_female_85_years_and_over REAL"
,"acs_race": "zcta VARCHAR, total_population REAL, num_white_alone REAL, num_black_or_african_american_alone REAL, num_american_indian_and_alaska_native_alone REAL, num_asian_alone REAL, num_native_hawaiian_and_other_pacific_islander_alone REAL, num_some_other_race_alone REAL, num_two_or_more_races REAL, num_two_or_more_races_two_races_including_some_other_race REAL, num_two_or_more_races_two_races_excluding_some_other_race_and_three_or_more_races REAL"
,"acs_hispanic": "zcta VARCHAR, total_population REAL, num_not_hispanic_or_latino REAL, num_not_hispanic_or_latino_white_alone REAL, num_not_hispanic_or_latino_black_or_african_american_alone REAL, num_not_hispanic_or_latino_american_indian_and_alaska_native_alone REAL, num_not_hispanic_or_latino_asian_alone REAL, num_not_hispanic_or_latino_native_hawaiian_and_other_pacific_islander_alone REAL, num_not_hispanic_or_latino_some_other_race_alone REAL, num_not_hispanic_or_latino_two_or_more_races REAL, num_not_hispanic_or_latino_two_or_more_races_two_races_including_some_other_race REAL, num_not_hispanic_or_latino_two_or_more_races_two_races_excluding_some_other_race_and_three_or_more_races REAL, num_hispanic_or_latino REAL, num_hispanic_or_latino_white_alone REAL, num_hispanic_or_latino_black_or_african_american_alone REAL, num_hispanic_or_latino_american_indian_and_alaska_native_alone REAL, num_hispanic_or_latino_asian_alone REAL, num_hispanic_or_latino_native_hawaiian_and_other_pacific_islander_alone REAL, num_hispanic_or_latino_some_other_race_alone REAL, num_hispanic_or_latino_two_or_more_races REAL, num_hispanic_or_latino_two_or_more_races_two_races_including_some_other_race REAL, num_hispanic_or_latino_two_or_more_races_two_races_excluding_some_other_race_and_three_or_more_races REAL"
,"acs_commute_times": "zcta VARCHAR, total_commuter_population REAL, num_less_than_5_minutes REAL, num_5_to_9_minutes REAL, num_10_to_14_minutes REAL, num_15_to_19_minutes REAL, num_20_to_24_minutes REAL, num_25_to_29_minutes REAL, num_30_to_34_minutes REAL, num_35_to_39_minutes REAL, num_40_to_44_minutes REAL, num_45_to_59_minutes REAL, num_60_to_89_minutes REAL, num_90_or_more_minutes REAL"
,"acs_employment_by_industry": "zcta VARCHAR, total_working_population REAL, num_agriculture_forestry_fishing_and_hunting_and_mining REAL, num_construction REAL, num_manufacturing REAL, num_transportation_and_warehousing_and_utilities REAL, num_information REAL, num_finance_and_insurance_and_real_estate_and_rental_and_leasing REAL, num_professional_scientific_and_management_and_administrative_and_waste_management_services REAL, num_educational_services_and_health_care_and_social_assistance REAL, num_arts_entertainment_and_recreation_and_accommodation_and_food_services REAL, num_other_services REAL, num_public_administration REAL, num_armed_forces REAL"
,"acs_commute_modes": "zcta VARCHAR, total_working_population REAL, num_drove_alone REAL, num_carpooled REAL, num_public_transportation REAL, num_walked REAL, num_taxicab_motorcycle_bicycle_or_other REAL, num_worked_from_home REAL"
,"acs_education_subjects": "zcta VARCHAR, total_num_bachelors_holders REAL, num_science_and_engineering_computers_mathematics_and_statistics REAL, num_science_and_engineering_biological_agricultural_and_environmental_sciences REAL, num_science_and_engineering_physical_and_related_sciences REAL, num_science_and_engineering_psychology REAL, num_science_and_engineering_social_sciences REAL, num_science_and_engineering_engineering REAL, num_science_and_engineering_multidisciplinary_studies REAL, num_science_and_engineering_related_fields REAL, num_business REAL, num_education REAL, num_arts_humanities_and_other_literature_and_languages REAL, num_arts_humanities_and_other_liberal_arts_and_history REAL, num_arts_humanities_and_other_visual_and_performing_arts REAL, num_arts_humanities_and_other_communications REAL, num_arts_humanities_and_other_other REAL"
,"acs_housing_year_built": "zcta VARCHAR, total_structures REAL, num_built_2020_or_later REAL, num_built_2010_to_2019 REAL, num_built_2000_to_2009 REAL, num_built_1990_to_1999 REAL, num_built_1980_to_1989 REAL, num_built_1970_to_1979 REAL, num_built_1960_to_1969 REAL, num_built_1950_to_1959 REAL, num_built_1940_to_1949 REAL, num_built_1939_or_earlier REAL"
,"acs_poverty_status": "zcta VARCHAR, total_households REAL, num_income_in_the_past_12_months_below_poverty_level REAL, num_income_in_the_past_12_months_below_poverty_level_under_6_years REAL, num_income_in_the_past_12_months_below_poverty_level_6_to_11_years REAL, num_income_in_the_past_12_months_below_poverty_level_12_to_17_years REAL, num_income_in_the_past_12_months_below_poverty_level_18_to_59_years REAL, num_income_in_the_past_12_months_below_poverty_level_60_to_74_years REAL, num_income_in_the_past_12_months_below_poverty_level_75_to_84_years REAL, num_income_in_the_past_12_months_below_poverty_level_85_years_and_over REAL, num_income_in_the_past_12_months_at_or_above_poverty_level REAL, num_income_in_the_past_12_months_at_or_above_poverty_level_under_6_years REAL, num_income_in_the_past_12_months_at_or_above_poverty_level_6_to_11_years REAL, num_income_in_the_past_12_months_at_or_above_poverty_level_12_to_17_years REAL, num_income_in_the_past_12_months_at_or_above_poverty_level_18_to_59_years REAL, num_income_in_the_past_12_months_at_or_above_poverty_level_60_to_74_years REAL, num_income_in_the_past_12_months_at_or_above_poverty_level_75_to_84_years REAL, num_income_in_the_past_12_months_at_or_above_poverty_level_85_years_and_over REAL"
,"acs_ratio_of_income_to_poverty_level": "zcta VARCHAR, total_households REAL, num_under_50_pct REAL, num_50_to_74_pct REAL, num_75_to_99_pct REAL, num_100_to_124_pct REAL, num_125_to_149_pct REAL, num_150_to_174_pct REAL, num_175_to_184_pct REAL, num_185_to_199_pct REAL, num_200_to_299_pct REAL, num_300_to_399_pct REAL, num_400_to_499_pct REAL, num_500_pct_and_over REAL"
,"acs_earners_in_household": "zcta VARCHAR, total_num_earners FLOAT, num_no_earners FLOAT, num_1_earner FLOAT, num_2_earners FLOAT, num_3_or_more_earners FLOAT"
,"acs_housing": "zcta TEXT, num_housing_units REAL, num_heated_by_utility_gas REAL, num_heated_by_bottled_tank_or_lp_gas REAL, num_heated_by_electricity REAL, num_heated_by_fuel_oil_kerosene_etc REAL, num_heated_by_coal_or_coke REAL, num_heated_by_wood REAL, num_heated_by_solar_energy REAL, num_heated_by_other_fuel REAL, num_heated_by_no_fuel_used REAL, num_owner_occupied REAL, num_renter_occupied REAL, num_complete_kitchen_facilities REAL, num_lacking_complete_kitchen_facilities REAL, aggregate_gross_rent REAL, aggregate_price_asked REAL, median_home_value REAL, num_housing_units_with_a_mortgage REAL, num_housing_units_with_a_mortgage_with_no_second_mortgage REAL, num_housing_units_without_a_mortgage REAL, total_not_charged_not_used_or_payment_included_in_other_fees REAL, total_charged_for_electricity REAL, total_charged_for_electricity_less_than_usd_50 REAL, total_charged_for_electricity_usd_50_to_usd_99 REAL, total_charged_for_electricity_usd_100_to_usd_149 REAL, total_charged_for_electricity_usd_150_to_usd_199 REAL, total_charged_for_electricity_usd_200_to_usd_249 REAL, total_charged_for_electricity_usd_250_or_more REAL, total_not_charged_or_payment_included_in_other_fees REAL, total_charged_for_water_and_sewer REAL, total_charged_for_water_and_sewer_less_than_usd_125 REAL, total_charged_for_water_and_sewer_usd_125_to_usd_249 REAL, total_charged_for_water_and_sewer_usd_250_to_usd_499 REAL, total_charged_for_water_and_sewer_usd_500_to_usd_749 REAL, total_charged_for_water_and_sewer_usd_750_to_usd_999 REAL, total_charged_for_water_and_sewer_usd_1000_or_more REAL, num_has_one_or_more_types_of_computing_devices REAL, num_has_one_or_more_types_of_computing_devices_desktop_or_laptop REAL, num_no_computer REAL"
,"acs_medicare": "zcta TEXT, total_pop REAL, num_allocated_medicare REAL, num_not_allocated_medicare REAL"
,"acs_gross_rent_household_income_ratio": "zcta VARCHAR, num_hh_less_than_10pct REAL, num_hh_10pct_to_15pct REAL, num_hh_15pct_to_20pct REAL, num_hh_20pct_to_25pct REAL, num_hh_25pct_to_30pct REAL, num_hh_30pct_to_35pct REAL, num_hh_35pct_to_40pct REAL, num_hh_40pct_to_45pct REAL, num_hh_45pct_to_50pct REAL, num_hh_50pct_or_more REAL, num_hh_ratio_not_computed REAL"
,"acs_household_size_by_vehicles_available": "zcta STRING, num_hh REAL, num_hh_0_vehicles REAL, num_hh_1_vehicle REAL, num_hh_2_vehicles REAL, num_hh_3_vehicles REAL, num_hh_4_or_more_vehicles REAL, num_1_person_hh REAL, num_1_person_hh_0_vehicles REAL, num_1_person_hh_1_vehicles REAL, num_1_person_hh_2_vehicles REAL, num_1_person_hh_3_vehicles REAL, num_1_person_hh_4_or_more_vehicles REAL, num_2_person_hh REAL, num_2_person_hh_no_vehicle REAL, num_2_person_hh_1_vehicle REAL, num_2_person_hh_2_vehicles REAL, num_2_person_hh_3_vehicles REAL, num_2_person_hh_4_or_more_vehicles REAL, num_3_person_hh REAL, num_3_person_hh_no_vehicle REAL, num_3_person_hh_1_vehicle REAL, num_3_person_hh_2_vehicles REAL, num_3_person_hh_3_vehicles REAL, num_3_person_hh_4_or_more_vehicles REAL, num_4_or_more_person_hh REAL, num_4_or_more_person_hh_no_vehicle REAL, num_4_or_more_person_hh_1_vehicle REAL, num_4_or_more_person_hh_2_vehicles REAL, num_4_or_more_person_hh_3_vehicles REAL, num_4_or_more_person_hh_4_or_more_vehicles REAL"
,"acs_internet_access": "zcta TEXT, num_hh FLOAT, num_hh_with_internet FLOAT, num_hh_with_internet_via_dialup FLOAT, num_hh_with_internet_via_cable_fiber_optic_or_dsl FLOAT, num_hh_with_internet_via_satellite_internet FLOAT, num_hh_with_internet_via_other FLOAT, num_hh_with_no_internet FLOAT"
,"acs_educational_attainment": "zcta TEXT, num_pop_25_and_older FLOAT, num_less_than_high_school FLOAT, num_at_least_high_school FLOAT, num_at_least_college FLOAT, num_at_least_bachelors FLOAT, num_at_least_graduate_or_professional_degree FLOAT"
}

In [31]:
print(response['choices'][0]['text'])

 SELECT zcta, num_at_least_high_school / num_pop_25_and_older AS fraction_high_school FROM acs_educational_attainment WHERE num_pop_25_and_older > 0 ORDER BY fraction_high_school DESC

In [46]:
df = pd.read_csv('questions.csv')
df['query'] = ''

In [66]:
data = []
for idx, row in df.iterrows():
    print(idx)
    print(row['question'])
    
    if row['query'] != '':
        print('already completed')
        data.append(row['query'])
        continue
        
    query = text_to_sql(tables, DDLs, row['question'])
    data.append(query)
    df.loc[idx,'query'] = query

df

0
Where do the business degree holders live that have at least 100 people?
already completed
1
areas with the highest percentage of people with a bachelor's degree
already completed
2
areas with the highest percentage of people with a high school diploma
already completed
3
areas with the highest percentage of people with a master's degree
already completed
4
areas with the highest percentage of people with a professional degree
already completed
5
areas with the highest percentage of people with some college
already completed
6
areas with the highest percentage of people with some high school
already completed
7
areas with long commutes
already completed
8
areas with the most people
already completed
9
areas where the number of people exceeds the national average
already completed
10
areas where the number of people is less than the national average
already completed
11
where am I likely to find the most people working in the arts, entertainment, and recreation industry
already completed
12
where am I likely to find the most people working in the educational services industry
already completed
13
zip code areas with the highest percentage of residents with long commutes of 90 minutes or more
already completed
14
zip code areas with the highest percentage of residents with short commutes of less than 30 minutes
already completed
15
zip code areas with the highest percentage of residents with very long commutes of 120 minutes or more
already completed
16
zctas where the majority of people identify as black or African American
already completed
17
zctas where the majority of people identify as white
already completed
18
zctas where the majority of people identify as Native Hawaiian or Pacific Islander
already completed
19
zctas where the majority of people identify as Asian
already completed
20
zctas where the majority of people identify as American Indian or Alaska Native
already completed
21
What is the distribution of people by age?
already completed
22
Which areas have the highest percentage of people with a bachelor's degree?
already completed
23
What is the percentage of people over 85 in each ZCTA?
already completed
24
What is the male-female ratio in each ZIP code?
already completed
25
How does the population of each ZCTA compare to the population of the US?
already completed
26
Where do people have no heat?
already completed
27
Where do people have no vehicle available?
already completed
28
Where do people have no workers in the household?
already completed
29
What is the racial makeup of each ZCTA?
already completed
30
What ZCTA has the largest population of people who identify as white alone?
already completed
31
What is the percentage of the population in each ZCTA that identifies as two or more races?
already completed
32
Which ZCTA has the largest population of people who identify as Asian alone?
already completed
33
What is the distribution of different racial groups across different ZCTAs?
already completed
34
What is the ratio of white alone to black or African American alone in each ZCTA?
already completed
35
What is the percentage of the population in each ZCTA that identifies as Native Hawaiian or Pacific Islander alone?
already completed
36
What is the percentage of the population in each ZCTA that identifies as \some other race\" alone?"
already completed
37
What is the average commute time?
already completed
38
What is the average commute time for residents in each ZIP code area?
already completed
39
What is the distribution of commute times for residents across different ZIP code areas?
already completed
40
Which zip code areas have the highest percentage of residents with long commutes of 90 minutes or more?
already completed
41
What is the distribution of employment across different industries in each ZIP code?
already completed
42
How does the distribution of employment across different industries vary across zip code areas?
already completed
43
What's the most common industry in each ZIP code area?
already completed
44
Where am I likely to find the most people working in the \Arts, entertainment, and recreation\" industry?"
already completed
45
Where am I likely to find the most people working in the \Educational services\" industry?"
already completed
46
Where am I likely to find the most people working in the \Health care and social assistance\" industry?"
already completed
47
Are there any ZIP code areas that have a particularly high or low concentration of workers in a certain industry?
already completed
48
Where is the highest concentration of workers in the \Arts, entertainment, and recreation\" industry?"
already completed
49
Where is the highest concentration of workers in the \Educational services\" industry?"
already completed
50
Where is the highest concentration of workers in the \Health care and social assistance\" industry?"
already completed
51
Where is the highest concentration of workers in the \Information\" industry?"
already completed
52
Where is the highest concentration of workers in the \Manufacturing\" industry?"
already completed
53
Where is the highest concentration of workers in the \Professional, scientific, and technical services\" industry?"
already completed
54
Where is the highest concentration of workers in the \Retail trade\" industry?"
already completed
55
Where is the highest concentration of workers in the \Transportation and warehousing\" industry?"
already completed
56
Where is the highest concentration of workers in the \Wholesale trade\" industry?"
already completed
57
Where is the lowest concentration of workers in the \Arts, entertainment, and recreation\" industry?"
already completed
58
Where is the lowest concentration of workers in the \Educational services\" industry?"
already completed
59
Where is the lowest concentration of workers in the \Health care and social assistance\" industry?"
already completed
60
Where is the lowest concentration of workers in the \Information\" industry?"
already completed
61
Where is the lowest concentration of workers in the \Manufacturing\" industry?"
already completed
62
Where is the lowest concentration of workers in the \Professional, scientific, and technical services\" industry?"
already completed
63
Where is the lowest concentration of workers in the \Retail trade\" industry?"
already completed
64
Where is the lowest concentration of workers in the \Transportation and warehousing\" industry?"
already completed
65
Where is the lowest concentration of workers in the \Wholesale trade\" industry?"
already completed
66
Where do people make the most money?
already completed
67
Where do people make the least money?
already completed
68
What areas have the largest concentration of the middle class?
already completed
69
Where are the oldest homes?
already completed
70
Where are the newest homes?
already completed
71
Approximately, what is the typical age of homes in each ZIP code area?
already completed
72
Where do households have a mortgage?
already completed
73
Where do households not have a mortgage?
already completed
74
Where do renters exceed homeowners?
already completed
75
Where do homeowners exceed renters?
already completed
76
What is the distribution of homeownership across different ZIP code areas?
already completed
77
What is the distribution of renter-ship across different ZIP code areas?
['acs_poverty_status', 'acs_housing', 'acs_gross_rent_household_income_ratio']
 SELECT zcta, num_renter_occupied / num_housing_units AS fraction_renters FROM acs_housing WHERE num_housing_units > 0 ORDER BY fraction_renters DESC
78
What is the distribution of median home value across different ZIP code areas?
['acs_housing', 'acs_housing_year_built', 'acs_gross_rent_household_income_ratio']
 SELECT zcta, median_home_value FROM acs_housing ORDER BY median_home_value DESC
79
Where do the humanities majors live?
['acs_education_subjects', 'acs_housing']
 SELECT zcta, num_arts_humanities_and_other_literature_and_languages + num_arts_humanities_and_other_liberal_arts_and_history + num_arts_humanities_and_other_visual_and_performing_arts + num_arts_humanities_and_other_communications + num_arts_humanities_and_other_other AS total_humanties FROM acs_education_subjects ORDER BY total_humanties DESC
80
Where do the social sciences majors live?

['acs_education_subjects', 'acs_race', 'acs_housing']
 SELECT zcta, num_science_and_engineering_social_sciences / total_num_bachelors_holders AS fraction_social_sciences FROM acs_education_subjects WHERE total_num_bachelors_holders > 0 ORDER BY fraction_social_sciences DESC
81
Where do the business majors live?
['acs_education_subjects', 'acs_housing', 'acs_race']
 SELECT zcta, num_business / total_num_bachelors_holders AS fraction_business FROM acs_education_subjects WHERE total_num_bachelors_holders > 0 ORDER BY fraction_business DESC
82
Where do the engineering majors live?
['acs_education_subjects', 'acs_sex_by_age', 'acs_housing']
 SELECT zcta, num_science_and_engineering_engineering / total_num_bachelors_holders AS fraction_engineering FROM acs_education_subjects ORDER BY fraction_engineering DESC
83
Where do the computer science majors live?
['acs_education_subjects', 'acs_housing', 'acs_employment_by_industry']
 SELECT zcta, num_science_and_engineering_computers_mathematics_and_statistics / total_num_bachelors_holders AS fraction_computer_science_majors  FROM acs_education_subjects WHERE total_num_bachelors_holders > 0 ORDER BY fraction_computer_science_majors DESC
84
Where do the math majors live?
['acs_education_subjects', 'acs_sex_by_age', 'acs_housing']
 SELECT zcta, num_science_and_engineering_computers_mathematics_and_statistics / total_num_bachelors_holders AS fraction_math FROM acs_education_subjects WHERE total_num_bachelors_holders > 0 ORDER BY fraction_math DESC
85
Where do the physical science majors live?
['acs_education_subjects', 'acs_housing']
 SELECT zcta, num_science_and_engineering_physical_and_related_sciences / total_num_bachelors_holders AS fraction_physical_sciences FROM acs_education_subjects ORDER BY fraction_physical_sciences DESC
86
Where do the life science majors live?
['acs_education_subjects', 'acs_housing']
 SELECT zcta, (num_science_and_engineering_biological_agricultural_and_environmental_sciences + num_science_and_engineering_psychology + num_science_and_engineering_social_sciences) / total_num_bachelors_holders AS fraction_life_sciences  FROM acs_education_subjects WHERE total_num_bachelors_holders > 0 ORDER BY fraction_life_sciences DESC
87
Where do the education majors live?
['acs_education_subjects', 'acs_housing', 'acs_race']
 SELECT zcta, total_num_bachelors_holders, num_science_and_engineering_computers_mathematics_and_statistics, num_science_and_engineering_biological_agricultural_and_environmental_sciences, num_science_and_engineering_physical_and_related_sciences, num_science_and_engineering_psychology, num_science_and_engineering_social_sciences, num_science_and_engineering_engineering, num_science_and_engineering_multidisciplinary_studies, num_science_and_engineering_related_fields, num_business, num_education, num_arts_humanities_and_other_literature_and_languages, num_arts_humanities_and_other_liberal_arts_and_history, num_arts_humanities_and_other_visual_and_performing_arts, num_arts_humanities_and_other_communications, num_arts_humanities_and_other_other FROM acs_education_subjects WHERE total_num_bachelors_holders > 0
88
Where do the health majors live?
['acs_education_subjects', 'acs_sex_by_age', 'acs_housing']
 SELECT zcta, num_science_and_engineering_biological_agricultural_and_environmental_sciences / total_num_bachelors_holders AS fraction_health_majors FROM acs_education_subjects WHERE total_num_bachelors_holders > 0 ORDER BY fraction_health_majors DESC
89
Where do the arts majors live?
['acs_education_subjects', 'acs_housing', 'acs_housing_year_built']
 SELECT zcta, num_arts_humanities_and_other_literature_and_languages + num_arts_humanities_and_other_liberal_arts_and_history + num_arts_humanities_and_other_visual_and_performing_arts + num_arts_humanities_and_other_communications + num_arts_humanities_and_other_other / total_num_bachelors_holders AS fraction_arts FROM acs_education_subjects WHERE total_num_bachelors_holders > 0 ORDER BY fraction_arts DESC
90
Where do the agriculture majors live?
['acs_education_subjects', 'acs_employment_by_industry', 'acs_housing']
 SELECT zcta, num_science_and_engineering_biological_agricultural_and_environmental_sciences / total_num_bachelors_holders AS fraction_agriculture_majors FROM acs_education_subjects WHERE total_num_bachelors_holders > 0 ORDER BY fraction_agriculture_majors DESC
91
Where do people have the highest median income?
['acs_ratio_of_income_to_poverty_level', 'acs_earners_in_household', 'acs_gross_rent_household_income_ratio']
 SELECT zcta, median_income AS median_income FROM acs_median_income ORDER BY median_income DESC
92
Where do most people walk to work?
['acs_commute_modes', 'acs_employment_by_industry', 'acs_housing']
 SELECT zcta, num_walked / total_working_population AS fraction_walked FROM acs_commute_modes WHERE total_working_population > 0 ORDER BY fraction_walked DESC
93
Where do most people drive to work?
['acs_commute_modes', 'acs_household_size_by_vehicles_available', 'acs_employment_by_industry']
 SELECT zcta, num_drove_alone / total_working_population AS fraction_drove_alone FROM acs_commute_modes WHERE total_working_population > 0 ORDER BY fraction_drove_alone DESC
94
Where do most people take public transportation to work?
['acs_commute_modes', 'acs_employment_by_industry', 'acs_housing']
 SELECT zcta, num_public_transportation / total_working_population AS fraction_public_transportation FROM acs_commute_modes WHERE total_working_population > 0 ORDER BY fraction_public_transportation DESC
95
Where do most people work from home?
['acs_employment_by_industry', 'acs_commute_modes', 'acs_housing_year_built']
SELECT zcta, num_worked_from_home / total_working_population AS fraction_home FROM acs_commute_modes WHERE total_working_population > 0 ORDER BY fraction_home DESC
96
Where is the highest concentration of people who work from home?
['acs_commute_modes', 'acs_employment_by_industry', 'acs_earners_in_household']
 SELECT zcta, num_worked_from_home / total_working_population AS fraction_worked_from_home FROM acs_commute_modes ORDER BY fraction_worked_from_home DESC
97
What is the median income of people in each ZIP code area?
['acs_earners_in_household', 'acs_ratio_of_income_to_poverty_level', 'acs_housing_year_built']
 SELECT zcta, AVG(median_household_income) AS median_income FROM acs_earners_in_household WHERE total_num_earners > 0 GROUP BY zcta ORDER BY median_income DESC
98
What is the distribution of median income across different ZIP code areas?
['acs_ratio_of_income_to_poverty_level', 'acs_earners_in_household', 'acs_housing_year_built']
 SELECT zcta, median_income FROM acs_median_income WHERE median_income > 0 ORDER BY median_income DESC
99
What is the most common mode of transportation?,
['acs_commute_times', 'acs_commute_modes', 'acs_housing_year_built']
 SELECT zcta, num_drove_alone / total_working_population AS fraction_drove_alone FROM acs_commute_modes ORDER BY fraction_drove_alone DESC

,question,query
0,Where do the business degree holders live that...,"SELECT zcta, num_business / total_num_bachelo..."
1,areas with the highest percentage of people wi...,"SELECT zcta, total_num_bachelors_holders / nu..."
2,areas with the highest percentage of people wi...,"SELECT zcta, num_at_least_high_school / num_p..."
3,areas with the highest percentage of people wi...,"SELECT zcta, num_at_least_graduate_or_profess..."
4,areas with the highest percentage of people wi...,"SELECT zcta, (num_professional_degree_holders..."
...,...,...
95,Where do most people work from home?,"SELECT zcta, num_worked_from_home / total_work..."
96,Where is the highest concentration of people w...,"SELECT zcta, num_worked_from_home / total_wor..."
97,What is the median income of people in each ZI...,"SELECT zcta, AVG(median_household_income) AS ..."
98,What is the distribution of median income acro...,"SELECT zcta, median_income FROM acs_median_in..."
99,"What is the most common mode of transportation?,","SELECT zcta, num_drove_alone / total_working_..."

In [67]:
df.to_clipboard()