In [1]:
import time
import json
import openai
import re
import sqlite3
import pandas as pd
import numpy as np

from os import path

In [3]:
def get_schema(db_id):
    PATH = 'spider/database/'
    
    path_to_file   = PATH + db_id + '/schema.sql'
    path_to_file_2 = PATH + db_id + '/' + db_id + '.sqlite'
    
    if path.exists(path_to_file):
        x = open(path_to_file, 'r').read()
        # Remove comment lines
        x = re.sub(r"^/\*.*\n", "", x, flags=re.MULTILINE)
        x = re.sub(r'^--.*(\n|$)', '', x, flags=re.MULTILINE)
        x = re.sub(r"^/\*.*\*/", "", x)
        
        x = re.sub(r'CREATE TABLE \t', 'CREATE TABLE ', x)
        
        arr = x.split(';')
        create_tables = []
        for i, stmt in enumerate(arr):
            stmt = stmt.strip()
            if stmt.lower().startswith('create'):
                create_tables.append(stmt.replace('IF NOT EXISTS ', '').replace('\n', ''))
        return ';'.join(create_tables)
      
    elif path.exists(path_to_file_2):
        # Connect to the sqlite file
        conn = sqlite3.connect(path_to_file_2)

        # Read the schema of the twitter_1.sqlite file into a dataframe
        df_conn = pd.read_sql_query("SELECT sql FROM sqlite_master WHERE type='table';", conn)
        
        # Close the connection
        conn.close()
        
        create_tables = []
        for idx, row in df_conn.iterrows():
            row['sql'] = row['sql'].strip()
            if row['sql'].lower().startswith('create'):
                create_tables.append(row['sql'].replace('IF NOT EXISTS ', '').replace('\n', ''))
        return ';'.join(create_tables)
    
    else: return None

def short_open_ai_prompt(x):
    return f'''Schema: {x['schema']}\nQuestion: {x['question']}\n\n###\n\n'''

# From OpenAI: The completion should start with a whitespace character (` `). 
# This tends to produce better results due to the tokenization we use.
def open_ai_completion(x):
    return f" {x['query']}\n" 

def call_model(row, engine):
    prompt = row["open_ai_prompt"]
    while True:
        try:
            completions = openai.Completion.create(
                engine=engine,
                prompt=prompt,
                max_tokens=1024,
                n=1,
                stop=["\n"],
                temperature=0.5
            )

            print(completions.choices[0].text)
            return completions.choices[0].text
    
        except error.ServiceUnavailableError:
            print('ServiceUnavailableError')
            time.sleep(1)
            continue
            
        except error.InvalidRequestError:
            print('InvalidRequestError: too many tokens')
            break

# Data Preparation

In [4]:
df = pd.read_json('spider/train_spider.json')
df = df[~df['query'].str.contains('JOIN')]
df = df[df['query'].str.count('FROM') <= 1]

# Set schema
df['schema']         = df.apply(lambda x: get_schema(x['db_id']), axis=1)
df['schema'] = df['schema'].apply(lambda x: re.sub('(?i) REFERENCES.*?(;|$)', ';', x))
# Extract the name of the table after FROM
df['table']  = df['query'].apply(lambda x: re.sub('.*FROM', 'FROM', x))\
                          .apply(lambda x: re.sub('^FROM\s+(\S+).*', r'\1', x).rstrip(';')).str.lower()
# Extract the 'create table' statement just for that table
df['schema'] = df.apply(lambda x: ''.join(re.findall(r"(create table `{}`.*?;)".format(x["table"]), 
                                                     x["schema"].lower())) or 
                                  ''.join(re.findall(r"(create table `{}`.*?$)".format(x["table"]), 
                                                     x["schema"].lower())) or 
                                  ''.join(re.findall(r"(create table {}.*?;)".format(x["table"]), 
                                                     x["schema"].lower())) or 
                                  ''.join(re.findall(r"(create table {}.*?$)".format(x["table"]), 
                                                     x["schema"].lower())) or 
                                  ''.join(re.findall(r"(create table \"{}\".*?;)".format(x["table"]), 
                                                     x["schema"].lower())) or
                                  ''.join(re.findall(r"(create table \"{}\".*?$)".format(x["table"]), 
                                                     x["schema"].lower())), axis=1)
df['schema'] = df['schema'].apply(lambda x: re.sub('NOT NULL', '', x))

# Set Open AI prompt and completion
df['open_ai_prompt'] = df.apply(lambda x: short_open_ai_prompt(x), axis=1)
df['open_ai_completion'] = df.apply(lambda x: open_ai_completion(x), axis=1)

# Randomize at the db level
df_db_id = pd.DataFrame(df['db_id'].unique(), columns=['db_id'])
np.random.seed(240956) #set seed
df_db_id['train_test'] = np.random.choice(['train','test'], df_db_id.shape[0], p=[0.8, 0.2])
df = df.merge(df_db_id, on='db_id')
df_train = df[df['train_test'] == 'train'][['open_ai_prompt', 'open_ai_completion']].copy()
df_test  = df[df['train_test'] == 'test'][['open_ai_prompt', 'open_ai_completion']].copy()

In [5]:
df[df['schema'] == '']['db_id'].unique()

array([], dtype=object)

In [6]:
print(df.iloc[110]['open_ai_prompt'])
print(df.iloc[110]['open_ai_completion'])

Schema: create table weather (    date text,    max_temperature_f integer,    mean_temperature_f integer,    min_temperature_f integer,    max_dew_point_f integer,    mean_dew_point_f integer,    min_dew_point_f integer,    max_humidity integer,    mean_humidity integer,    min_humidity integer,    max_sea_level_pressure_inches numeric,    mean_sea_level_pressure_inches numeric,    min_sea_level_pressure_inches numeric,    max_visibility_miles integer,    mean_visibility_miles integer,    min_visibility_miles integer,    max_wind_speed_mph integer,    mean_wind_speed_mph integer,    max_gust_speed_mph integer,    precipitation_inches integer,    cloud_cover integer,    events text,    wind_dir_degrees integer,    zip_code integer)
Question: What are the dates in which the mean sea level pressure was between 30.3 and 31?

###


 SELECT date FROM weather WHERE mean_sea_level_pressure_inches BETWEEN 30.3 AND 31

In [7]:
df_train.shape

(3071, 2)

In [8]:
df_test.shape

(538, 2)

# Training

In [ ]:
# Put the training data into jsonl format
data = []
for idx, row in df_train.iterrows():
    data.append({"prompt": row["open_ai_prompt"], "completion": row["open_ai_completion"]})

timestr = time.strftime("%Y%m%d-%H%M%S")
with open("spider_open_ai_fine_tuning_" + timestr + ".jsonl", "w") as outfile:
    for obj in data:
        json.dump(obj, outfile)
        outfile.write("\n")
        
print("spider_open_ai_fine_tuning_" + timestr + ".jsonl")

In [ ]:
#!openai tools fine_tunes.prepare_data -f spider_open_ai_fine_tuning_20230125-135407.jsonl
# - There are 3 duplicated prompt-completion sets. These are rows: [1155, 1590, 1591]

In [ ]:
df_train_dedup = df_train.copy()
df_train_dedup = df_train_dedup.drop(df_train.index[[1155, 1590, 1591]])
df_train_dedup[(df_train_dedup['open_ai_prompt'] == df_train_dedup.iloc[1155]['open_ai_prompt']) |
               (df_train_dedup['open_ai_prompt'] == df_train_dedup.iloc[1590]['open_ai_prompt']) |
               (df_train_dedup['open_ai_prompt'] == df_train_dedup.iloc[1591]['open_ai_prompt'])]

In [ ]:
# Put the training data into jsonl format
data = []
for idx, row in df_train_dedup.iterrows():
    data.append({"prompt": row["open_ai_prompt"], "completion": row["open_ai_completion"]})

timestr = time.strftime("%Y%m%d-%H%M%S")
with open("spider_open_ai_fine_tuning_" + timestr + ".jsonl", "w") as outfile:
    for obj in data:
        json.dump(obj, outfile)
        outfile.write("\n")
        
print("spider_open_ai_fine_tuning_" + timestr + ".jsonl")

In [ ]:
#!openai tools fine_tunes.prepare_data -f spider_open_ai_fine_tuning_20230125-135903.jsonl

In [ ]:
#!openai api fine_tunes.create -t "spider_open_ai_fine_tuning_20230125-135903.jsonl" -m davinci

In [9]:
!openai api fine_tunes.list

{
  "data": [
    {
      "created_at": 1672357089,
      "fine_tuned_model": "davinci:ft-mercator-2022-12-29-23-47-24",
      "hyperparams": {
        "batch_size": 1,
        "learning_rate_multiplier": 0.1,
        "n_epochs": 4,
        "prompt_loss_weight": 0.01
      },
      "id": "ft-ZMShnMrnhxzay9r0mXXEcxyI",
      "model": "davinci",
      "object": "fine-tune",
      "organization_id": "org-ePmgB4qVo14GgUKdUQci6IGz",
      "result_files": [
        {
          "bytes": 7017,
          "created_at": 1672357645,
          "filename": "compiled_results.csv",
          "id": "file-FdDaGVVXGWC08jN4NwodgYnY",
          "object": "file",
          "purpose": "fine-tune-results",
          "status": "processed",
          "status_details": null
        }
      ],
      "status": "succeeded",
      "training_files": [
        {
          "bytes": 3380,
          "created_at": 1672357089,
          "filename": "openai_classification_fine_tuning.txt",
          "id": "file-APupvHFP5OaeEWNg6SVT8uyK",
          "object": "file",
          "purpose": "fine-tune",
          "status": "processed",
          "status_details": null
        }
      ],
      "updated_at": 1672357645,
      "validation_files": []
    },
    {
      "created_at": 1672359981,
      "fine_tuned_model": "curie:ft-mercator-2022-12-30-00-29-13",
      "hyperparams": {
        "batch_size": 1,
        "learning_rate_multiplier": 0.1,
        "n_epochs": 4,
        "prompt_loss_weight": 0.01
      },
      "id": "ft-Ej8Q7PDuU2mwaFWZ6Pz6Nx3a",
      "model": "curie",
      "object": "fine-tune",
      "organization_id": "org-ePmgB4qVo14GgUKdUQci6IGz",
      "result_files": [
        {
          "bytes": 7137,
          "created_at": 1672360154,
          "filename": "compiled_results.csv",
          "id": "file-rfuxlRqwBKEZ3FKQYU1FhTbE",
          "object": "file",
          "purpose": "fine-tune-results",
          "status": "processed",
          "status_details": null
        }
      ],
      "status": "succeeded",
      "training_files": [
        {
          "bytes": 3780,
          "created_at": 1672359981,
          "filename": "openai_classification_fine_tuning.jsonl",
          "id": "file-L3OyASJECTFdDTj9WWdbFyCW",
          "object": "file",
          "purpose": "fine-tune",
          "status": "processed",
          "status_details": null
        }
      ],
      "updated_at": 1672360154,
      "validation_files": []
    },
    {
      "created_at": 1672361065,
      "fine_tuned_model": "davinci:ft-mercator-2022-12-30-00-48-03",
      "hyperparams": {
        "batch_size": 1,
        "learning_rate_multiplier": 0.1,
        "n_epochs": 4,
        "prompt_loss_weight": 0.01
      },
      "id": "ft-UYqkIaV7CZS9aLfFZ1EVw0GC",
      "model": "davinci",
      "object": "fine-tune",
      "organization_id": "org-ePmgB4qVo14GgUKdUQci6IGz",
      "result_files": [
        {
          "bytes": 7070,
          "created_at": 1672361285,
          "filename": "compiled_results.csv",
          "id": "file-OJfSWHvKVsj7hUv8XIKzw109",
          "object": "file",
          "purpose": "fine-tune-results",
          "status": "processed",
          "status_details": null
        }
      ],
      "status": "succeeded",
      "training_files": [
        {
          "bytes": 3780,
          "created_at": 1672361065,
          "filename": "openai_classification_fine_tuning.jsonl",
          "id": "file-q6jZNWXC2Qox3FS1PMB0wDy9",
          "object": "file",
          "purpose": "fine-tune",
          "status": "processed",
          "status_details": null
        }
      ],
      "updated_at": 1672361285,
      "validation_files": []
    },
    {
      "created_at": 1672363107,
      "fine_tuned_model": "davinci:ft-mercator-2022-12-30-01-27-07",
      "hyperparams": {
        "batch_size": 1,
        "learning_rate_multiplier": 0.1,
        "n_epochs": 4,

      },
      "id": "ft-CM32gCt2Qt7MaZGvg6C2626j",
      "model": "davinci",
      "object": "fine-tune",
      "organization_id": "org-ePmgB4qVo14GgUKdUQci6IGz",
      "result_files": [
        {
          "bytes": 50099,
          "created_at": 1672363628,
          "filename": "compiled_results.csv",
          "id": "file-7gxyT041xSQS9nuBjOqrlfal",
          "object": "file",
          "purpose": "fine-tune-results",
          "status": "processed",
          "status_details": null
        }
      ],
      "status": "succeeded",
      "training_files": [
        {
          "bytes": 32328,
          "created_at": 1672363107,
          "filename": "openai_classification_fine_tuning.jsonl",
          "id": "file-hi3zqKcuTO2hMY4Tn3gkNECq",
          "object": "file",
          "purpose": "fine-tune",
          "status": "processed",
          "status_details": null
        }
      ],
      "updated_at": 1672363628,
      "validation_files": []
    },
    {
      "created_at": 1673633601,
      "fine_tuned_model": "curie:ft-mercator-2023-01-13-18-58-25",
      "hyperparams": {
        "batch_size": 1,
        "learning_rate_multiplier": 0.1,
        "n_epochs": 4,
        "prompt_loss_weight": 0.01
      },
      "id": "ft-ktXHwqMgjQuLOdSsEZEXKy90",
      "model": "curie",
      "object": "fine-tune",
      "organization_id": "org-ePmgB4qVo14GgUKdUQci6IGz",
      "result_files": [
        {
          "bytes": 11017,
          "created_at": 1673636305,
          "filename": "compiled_results.csv",
          "id": "file-g7wzj1pyMxhlF6SKCnWCwLy5",
          "object": "file",
          "purpose": "fine-tune-results",
          "status": "processed",
          "status_details": null
        }
      ],
      "status": "succeeded",
      "training_files": [
        {
          "bytes": 888550,
          "created_at": 1673633600,
          "filename": "spider_open_ai_fine_tuning.jsonl",
          "id": "file-HmlGzvAbawZ51iOGs1VxQgKL",
          "object": "file",
          "purpose": "fine-tune",
          "status": "processed",
          "status_details": null
        }
      ],
      "updated_at": 1673636306,
      "validation_files": []
    },
    {
      "created_at": 1673633730,
      "fine_tuned_model": "davinci:ft-mercator-2023-01-13-21-03-38",
      "hyperparams": {
        "batch_size": 1,
        "learning_rate_multiplier": 0.1,
        "n_epochs": 4,
        "prompt_loss_weight": 0.01
      },
      "id": "ft-uvli4ARlKMy5Gy2C5zHHV1eD",
      "model": "davinci",
      "object": "fine-tune",
      "organization_id": "org-ePmgB4qVo14GgUKdUQci6IGz",
      "result_files": [
        {
          "bytes": 10941,
          "created_at": 1673643819,
          "filename": "compiled_results.csv",
          "id": "file-gvWI9O3cGLLbzC0WNSgda94t",
          "object": "file",
          "purpose": "fine-tune-results",
          "status": "processed",
          "status_details": null
        }
      ],
      "status": "succeeded",
      "training_files": [
        {
          "bytes": 888550,
          "created_at": 1673633717,
          "filename": "spider_open_ai_fine_tuning.jsonl",
          "id": "file-plLUrjyA7M8igrCZtMKFevyV",
          "object": "file",
          "purpose": "fine-tune",
          "status": "processed",
          "status_details": null
        }
      ],
      "updated_at": 1673643822,
      "validation_files": []
    },
    {
      "created_at": 1673642119,
      "fine_tuned_model": "davinci:ft-mercator-2023-01-13-23-39-57",
      "hyperparams": {
        "batch_size": 1,
        "learning_rate_multiplier": 0.1,
        "n_epochs": 4,
        "prompt_loss_weight": 0.01
      },
      "id": "ft-IArp6w0FdYZ2D8msrWTqPhkp",
      "model": "davinci",
      "object": "fine-tune",
      "organization_id": "org-ePmgB4qVo14GgUKdUQci6IGz",
      "result_files": [
        {
          "bytes": 10692,
          "created_at": 1673653199,
          "filename": "compiled_results.csv",
          "id": "file-J70Nszr4efYx1gpHS9rqzwIw",
          "object": "file",
          "purpose": "fine-tune-results",
          "status": "processed",
          "status_details": null
        }
      ],
      "status": "succeeded",
      "training_files": [
        {
          "bytes": 866650,
          "created_at": 1673642115,
          "filename": "spider_short_prompt_open_ai_fine_tuning.jsonl",
          "id": "file-HonZQBmGAVsESaNYQV8IDLse",
          "object": "file",
          "purpose": "fine-tune",
          "status": "processed",
          "status_details": null
        }
      ],
      "updated_at": 1673653199,
      "validation_files": []
    },
    {
      "created_at": 1673651109,
      "fine_tuned_model": "davinci:ft-mercator-2023-01-14-01-47-14",
      "hyperparams": {
        "batch_size": 1,
        "learning_rate_multiplier": 0.1,
        "n_epochs": 4,
        "prompt_loss_weight": 0.01
      },
      "id": "ft-Ihg26q1fpDVSCF9i8rwVOf4o",
      "model": "davinci",
      "object": "fine-tune",
      "organization_id": "org-ePmgB4qVo14GgUKdUQci6IGz",
      "result_files": [
        {
          "bytes": 19961,
          "created_at": 1673660835,
          "filename": "compiled_results.csv",
          "id": "file-7f1VIToPw5gRweQb3UZnAsDD",
          "object": "file",
          "purpose": "fine-tune-results",
          "status": "processed",
          "status_details": null
        }
      ],
      "status": "succeeded",
      "training_files": [
        {
          "bytes": 159674,
          "created_at": 1673651108,
          "filename": "spider_short_prompt_open_ai_fine_tuning.jsonl",
          "id": "file-WZz9r1jfHZt6qhsdFS5xMKD6",
          "object": "file",
          "purpose": "fine-tune",
          "status": "processed",
          "status_details": null
        }
      ],
      "updated_at": 1673660836,
      "validation_files": []
    },
    {
      "created_at": 1673998663,
      "fine_tuned_model": "davinci:ft-mercator-2023-01-18-00-37-55",
      "hyperparams": {
        "batch_size": 1,
        "learning_rate_multiplier": 0.1,
        "n_epochs": 4,
        "prompt_loss_weight": 0.01
      },
      "id": "ft-dbeUsmj0k5FG0GnnDMJ3s05c",
      "model": "davinci",
      "object": "fine-tune",
      "organization_id": "org-ePmgB4qVo14GgUKdUQci6IGz",
      "result_files": [
        {
          "bytes": 19876,
          "created_at": 1674002276,
          "filename": "compiled_results.csv",
          "id": "file-EHcQOFAFnnr0XMxRYIxWw2w4",
          "object": "file",
          "purpose": "fine-tune-results",
          "status": "processed",
          "status_details": null
        }
      ],
      "status": "succeeded",
      "training_files": [
        {
          "bytes": 201213,
          "created_at": 1673998663,
          "filename": "spider_open_ai_fine_tuning_20230117-153523.jsonl",
          "id": "file-hzwl04Vk88WfsnthvJXnSU4t",
          "object": "file",
          "purpose": "fine-tune",
          "status": "processed",
          "status_details": null
        }
      ],
      "updated_at": 1674002277,
      "validation_files": []
    },
    {
      "created_at": 1674006408,
      "fine_tuned_model": "davinci:ft-mercator-2023-01-18-02-13-35",
      "hyperparams": {
        "batch_size": 1,
        "learning_rate_multiplier": 0.1,
        "n_epochs": 4,
        "prompt_loss_weight": 0.01
      },
      "id": "ft-B5wO3kuwXoUTGRwpdDVMfbRS",
      "model": "davinci",
      "object": "fine-tune",
      "organization_id": "org-ePmgB4qVo14GgUKdUQci6IGz",
      "result_files": [
        {
          "bytes": 69793,
          "created_at": 1674008016,
          "filename": "compiled_results.csv",
          "id": "file-hXDw174L2989gxVJg0749sts",
          "object": "file",
          "purpose": "fine-tune-results",
          "status": "processed",
          "status_details": null
        }
      ],
      "status": "succeeded",
      "training_files": [
        {
          "bytes": 430197,
          "created_at": 1674006408,
          "filename": "spider_open_ai_fine_tuning_20230117-174446.jsonl",
          "id": "file-mgqafpnvg6j8iXvK9ZjCtjqN",
          "object": "file",
          "purpose": "fine-tune",
          "status": "processed",
          "status_details": null
        }
      ],
      "updated_at": 1674008017,
      "validation_files": []
    },
    {
      "created_at": 1674159359,
      "fine_tuned_model": "davinci:ft-mercator-2023-01-20-01-20-27",
      "hyperparams": {
        "batch_size": 1,
        "learning_rate_multiplier": 0.1,
        "n_epochs": 4,
        "prompt_loss_weight": 0.01
      },
      "id": "ft-LKfUyJnzG8W5P3hBlNp8X6tw",
      "model": "davinci",
      "object": "fine-tune",
      "organization_id": "org-ePmgB4qVo14GgUKdUQci6IGz",
      "result_files": [
        {
          "bytes": 20010,
          "created_at": 1674177628,
          "filename": "compiled_results.csv",
          "id": "file-6l7E3rsC9l9pxehssQUfJrgj",
          "object": "file",
          "purpose": "fine-tune-results",
          "status": "processed",
          "status_details": null
        }
      ],
      "status": "succeeded",
      "training_files": [
        {
          "bytes": 159674,
          "created_at": 1674159357,
          "filename": "spider_open_ai_fine_tuning_20230119-121448.jsonl",
          "id": "file-4rs0plUEDv2ANaBlGafUunEL",
          "object": "file",
          "purpose": "fine-tune",
          "status": "processed",
          "status_details": null
        }
      ],
      "updated_at": 1674177629,
      "validation_files": []
    },
    {
      "created_at": 1674234261,
      "fine_tuned_model": "davinci:ft-mercator-2023-01-20-22-28-50",
      "hyperparams": {
        "batch_size": 1,
        "learning_rate_multiplier": 0.1,
        "n_epochs": 4,
        "prompt_loss_weight": 0.01
      },
      "id": "ft-WNeKmZ7ZDyzyZNEuFUbJiTCa",
      "model": "davinci",
      "object": "fine-tune",
      "organization_id": "org-ePmgB4qVo14GgUKdUQci6IGz",
      "result_files": [
        {
          "bytes": 38543,
          "created_at": 1674253733,
          "filename": "compiled_results.csv",
          "id": "file-qjKerKoCFJKUtebBkQ4Q0hqH",
          "object": "file",
          "purpose": "fine-tune-results",
          "status": "processed",
          "status_details": null
        }
      ],
      "status": "succeeded",
      "training_files": [
        {
          "bytes": 400626,
          "created_at": 1674234258,
          "filename": "spider_open_ai_fine_tuning_20230120-090311.jsonl",
          "id": "file-rJQKziv2Vks6v0geKfXApwqr",
          "object": "file",
          "purpose": "fine-tune",
          "status": "processed",
          "status_details": null
        }
      ],
      "updated_at": 1674253739,
      "validation_files": []
    },
    {
      "created_at": 1674429255,
      "fine_tuned_model": "davinci:ft-mercator-2023-01-22-23-41-26",
      "hyperparams": {
        "batch_size": 1,
        "learning_rate_multiplier": 0.1,
        "n_epochs": 4,
        "prompt_loss_weight": 0.01
      },
      "id": "ft-1k58aqPMZXgfdc2hSGjV1kEs",
      "model": "davinci",
      "object": "fine-tune",
      "organization_id": "org-ePmgB4qVo14GgUKdUQci6IGz",
      "result_files": [
        {
          "bytes": 116839,
          "created_at": 1674430889,
          "filename": "compiled_results.csv",
          "id": "file-7HTyRBGf5U21TBfAFSoCrnEs",
          "object": "file",
          "purpose": "fine-tune-results",
          "status": "processed",
          "status_details": null
        }
      ],
      "status": "succeeded",
      "training_files": [
        {
          "bytes": 713924,
          "created_at": 1674429254,
          "filename": "spider_open_ai_fine_tuning_20230122-151249.jsonl",
          "id": "file-Oe8qx7yx0pWNfEjjOTjVYDIA",
          "object": "file",
          "purpose": "fine-tune",
          "status": "processed",
          "status_details": null
        }
      ],
      "updated_at": 1674430890,
      "validation_files": []
    },
    {
      "created_at": 1674522358,
      "fine_tuned_model": "davinci:ft-mercator-2023-01-24-03-11-01",
      "hyperparams": {
        "batch_size": 4,
        "learning_rate_multiplier": 0.1,
        "n_epochs": 4,
        "prompt_loss_weight": 0.01
      },
      "id": "ft-SFqSc9W7TLh8VNBuFJTUROpI",
      "model": "davinci",
      "object": "fine-tune",
      "organization_id": "org-ePmgB4qVo14GgUKdUQci6IGz",
      "result_files": [
        {
          "bytes": 196889,
          "created_at": 1674529864,
          "filename": "compiled_results.csv",
          "id": "file-79OSOHwfxTBLcr3bipqIp9wX",
          "object": "file",
          "purpose": "fine-tune-results",
          "status": "processed",
          "status_details": null
        }
      ],
      "status": "succeeded",
      "training_files": [
        {
          "bytes": 4631097,
          "created_at": 1674522357,
          "filename": "spider_open_ai_fine_tuning_20230123-170330.jsonl",
          "id": "file-nLxqZpXpRWJOCaahgYaOXCr9",
          "object": "file",
          "purpose": "fine-tune",
          "status": "processed",
          "status_details": null
        }
      ],
      "updated_at": 1674529864,
      "validation_files": []
    },
    {
      "created_at": 1674684018,
      "fine_tuned_model": "davinci:ft-mercator-2023-01-25-23-01-53",
      "hyperparams": {
        "batch_size": 4,
        "learning_rate_multiplier": 0.1,
        "n_epochs": 4,
        "prompt_loss_weight": 0.01
      },
      "id": "ft-GyrEkJ8jiO1ZgUY25ehrTr1D",
      "model": "davinci",
      "object": "fine-tune",
      "organization_id": "org-ePmgB4qVo14GgUKdUQci6IGz",
      "result_files": [
        {
          "bytes": 165504,
          "created_at": 1674687719,
          "filename": "compiled_results.csv",
          "id": "file-u15uDpZx37boj1oXyQgP01z8",
          "object": "file",
          "purpose": "fine-tune-results",
          "status": "processed",
          "status_details": null
        }
      ],
      "status": "succeeded",
      "training_files": [
        {
          "bytes": 1267606,
          "created_at": 1674684018,
          "filename": "spider_open_ai_fine_tuning_20230125-135903.jsonl",
          "id": "file-M3os7yWoW7d88gqYIblMXKLR",
          "object": "file",
          "purpose": "fine-tune",
          "status": "processed",
          "status_details": null
        }
      ],
      "updated_at": 1674687720,
      "validation_files": []
    }
  ],
  "object": "list"
}

## In Sample Testing

## Out of Sample Testing

In [12]:
tmp = df_test.copy()

tmp['model_response'] = ''
data = []
for idx, row in tmp.iterrows():
    print(idx)
    if row['model_response'] != '':
        print('already completed')
        data.append(row['model_response'])
        continue
    
    new_response = call_model(row, engine="davinci:ft-mercator-2023-01-25-23-01-53")
    data.append(new_response)
    tmp.loc[idx,'model_response'] = new_response

173
 SELECT DISTINCT catalog_entry_name FROM CATALOG_CONTENTS
174
 SELECT DISTINCT catalog_entry_name FROM Catalog_Contents
175
 SELECT attribute_data_type FROM attribute_definitions GROUP BY attribute_data_type HAVING count(*)  >  3
176
 SELECT attribute_data_type FROM attribute_definitions GROUP BY attribute_data_type HAVING count(*)  >  3
177
 SELECT attribute_data_type FROM Attribute_Definitions WHERE attribute_name  =  "Green"
178
 SELECT attribute_data_type FROM Attribute_Definitions WHERE attribute_name  =  "Green"
179
 SELECT catalog_level_name ,  catalog_level_number FROM catalog_structure WHERE catalog_level_number BETWEEN 5 AND 10
180
 SELECT catalog_level_name ,  catalog_level_number FROM Catalog_structure WHERE catalog_level_number BETWEEN 5 AND 10
181
 SELECT catalog_publisher FROM catalogs WHERE catalog_name LIKE "%Murray%"
182
 SELECT catalog_publisher FROM catalogs WHERE catalog_publisher LIKE "%Murray%"
183
 SELECT catalog_publisher FROM catalogs GROUP BY catalog_publisher ORDER BY count(*) DESC LIMIT 1
184
 SELECT catalog_publisher FROM catalogs GROUP BY catalog_publisher ORDER BY count(*) DESC LIMIT 1
185
 SELECT catalog_entry_name FROM catalog_contents ORDER BY price_in_dollars DESC LIMIT 1
186
 SELECT catalog_entry_name FROM catalog_contents ORDER BY price_in_dollars DESC LIMIT 1
187
 SELECT avg(price_in_euros) ,  min(price_in_euros) FROM Catalog_Contents
188
 SELECT avg(price_in_euros) ,  min(price_in_euros) FROM CATALOG_CONTENTS
189
 SELECT catalog_entry_name FROM catalog_contents ORDER BY height DESC LIMIT 1
190
 SELECT catalog_entry_name FROM catalog_contents ORDER BY height DESC LIMIT 1
191
 SELECT product_stock_number FROM Catalog_Contents ORDER BY capacity ASC LIMIT 1
192
 SELECT catalog_entry_name FROM Catalog_Contents ORDER BY capacity LIMIT 1
193
 SELECT catalog_entry_name FROM CATALOG_CONTENTS WHERE product_stock_number LIKE "2%"
194
 SELECT catalog_entry_name FROM catalog_contents WHERE product_stock_number LIKE "2%"
195
 SELECT catalog_entry_name FROM catalog_contents WHERE length  <  3 OR height  >  5
196
 SELECT catalog_entry_name FROM CATALOG_CONTENTS WHERE length  <  3 OR length  >  5
197
 SELECT product_stock_number ,  capacity FROM catalog_contents WHERE price_in_dollars  >  700
198
 SELECT catalog_entry_name ,  capacity FROM catalog_contents WHERE price_in_dollars  >  700
199
 SELECT date_of_latest_revision FROM catalogs GROUP BY date_of_latest_revision HAVING count(*)  >  1
200
 SELECT date_of_latest_revision FROM catalogs GROUP BY date_of_latest_revision HAVING count(*)  >  1
201
 SELECT count(*) FROM catalog_contents
202
 SELECT count(*) FROM CATALOG_CONTENTS
203
 SELECT DISTINCT product_stock_number FROM Catalog_Contents WHERE next_entry_id > 8
204
 SELECT catalog_entry_name FROM Catalog_Contents WHERE next_entry_id > 8
530
 SELECT DISTINCT customer_phone FROM available_policies
531
 SELECT customer_phone FROM available_policies
532
 SELECT Customer_Phone FROM Available_Policies WHERE Policy_Type_Code  =  "Life Insurance"
533
 SELECT customer_phone FROM available_policies WHERE policy_type_code  =  "Life Insurance"
534
 SELECT policy_type_code FROM available_policies GROUP BY policy_type_code ORDER BY count(*) DESC LIMIT 1
535
 SELECT policy_type_code FROM available_policies GROUP BY policy_type_code ORDER BY count(*) DESC LIMIT 1
536
 SELECT policy_type_code FROM available_policies GROUP BY policy_type_code HAVING count(*)  >  4
537
 SELECT policy_type_code FROM available_policies GROUP BY policy_type_code HAVING count(*)  >  4
538
 SELECT sum(settlement_amount) ,  avg(settlement_amount) FROM Settlements
539
 SELECT sum ,  avg(settlement_amount) FROM Settlements
540
 SELECT service_name FROM services ORDER BY service_name
541
 SELECT service_name FROM services ORDER BY service_name
542
 SELECT count(*) FROM services
543
 SELECT count(*) FROM services
544
 SELECT customer_id FROM customers WHERE customer_name LIKE "%Diana%"
545
 SELECT customer_id FROM customers WHERE customer_name LIKE "%Diana%"
546
 SELECT max(settlement_amount) ,  min(settlement_amount) FROM Settlements
547
 SELECT max(settlement_amount) ,  min(settlement_amount) FROM Settlements
548
 SELECT customer_name FROM customers ORDER BY customer_id ASC
549
 SELECT customer_id FROM customers ORDER BY customer_id
657
 SELECT count(*) FROM climber
658
 SELECT count(*) FROM climber
659
 SELECT Name FROM climber ORDER BY Points DESC
660
 SELECT Name FROM climber ORDER BY Points DESC
661
 SELECT Name FROM climber WHERE Country != "Switzerland"
662
 SELECT Name FROM climber WHERE Country != "Switzerland"
663
 SELECT max(Points) FROM climber WHERE Country  =  "United Kingdom"
664
 SELECT max(Points) FROM climber WHERE Country  =  "United Kingdom"
665
 SELECT count(DISTINCT country) FROM climber
666
 SELECT count(DISTINCT country) FROM climber
667
 SELECT Name FROM mountain ORDER BY Name ASC
668
 SELECT Name FROM mountain ORDER BY Name ASC
669
 SELECT Country FROM mountain WHERE Height  >  5000
670
 SELECT Country FROM mountain WHERE Height  >  5000
671
 SELECT name FROM mountain ORDER BY height DESC LIMIT 1
672
 SELECT name FROM mountain ORDER BY height DESC LIMIT 1
673
 SELECT DISTINCT Range FROM mountain ORDER BY Prominence DESC LIMIT 3
674
 SELECT DISTINCT Range FROM mountain ORDER BY Prominence DESC LIMIT 3
675
 SELECT Country ,  COUNT(*) FROM climber GROUP BY Country
676
 SELECT Country ,  COUNT(*) FROM climber GROUP BY Country
677
 SELECT Country FROM mountain GROUP BY Country HAVING COUNT(*)  >  1
678
 SELECT Country FROM mountain GROUP BY Country HAVING COUNT(*)  >  1
679
 SELECT Range FROM mountain GROUP BY Range ORDER BY COUNT(*) DESC LIMIT 1
680
 SELECT Range FROM mountain GROUP BY Range ORDER BY COUNT(*) DESC LIMIT 1
681
 SELECT name FROM mountain WHERE height  >  5000 OR prominence  >  1000
682
 SELECT name FROM mountain WHERE height  >  5000 OR prominence  >  1000
954
 SELECT i_id FROM item WHERE title  =  "orange"
955
 SELECT * FROM item
956
 SELECT count(*) FROM Review
957
 SELECT count(*) FROM useracct
958
 SELECT avg(rating) ,  max(rating) FROM review
959
 SELECT rank FROM review ORDER BY rank DESC LIMIT 1
960
 SELECT count(DISTINCT u_id) FROM review
961
 SELECT count(DISTINCT i_id) FROM review
962
 SELECT Title FROM Item ORDER BY Title
963
 SELECT count(*) FROM player
964
 SELECT Player_name FROM player ORDER BY Votes ASC
965
 SELECT Gender ,  Occupation FROM player
966
 SELECT Player_name ,  Residence FROM player WHERE Occupation != "Researcher"
967
 SELECT Sponsor_name FROM player WHERE Residence  =  "Brandon" OR Residence  =  "Birtle"
968
 SELECT player_name FROM player ORDER BY votes DESC LIMIT 1
969
 SELECT Occupation ,  COUNT(*) FROM player GROUP BY Occupation
970
 SELECT Occupation FROM player GROUP BY Occupation ORDER BY COUNT(*) DESC LIMIT 1
971
 SELECT Residence FROM player GROUP BY Residence HAVING COUNT(*)  >=  2
1128
 SELECT count(*) FROM region
1129
 SELECT count(*) FROM region
1130
 SELECT DISTINCT Region_name FROM region ORDER BY Label
1131
 SELECT DISTINCT Region_name FROM region ORDER BY Label
1132
 SELECT count(*) FROM party
1133
 SELECT count(DISTINCT Party_name) FROM party
1134
 SELECT Minister ,  Left_Office ,  Took_Office FROM party ORDER BY Left_Office
1135
 SELECT Minister ,  took_office ,  left_office FROM party ORDER BY left_office
1136
 SELECT Minister FROM party WHERE took_office  >  1961 OR took_office  <  1959
1137
 SELECT Minister FROM party WHERE took_office  >  1961 OR took_office  <  1959
1138
 SELECT Minister FROM party WHERE Party_Name != "Progress Party"
1139
 SELECT Minister FROM party WHERE Party_Name != "Progress Party"
1140
 SELECT Minister ,  Party_Name FROM party ORDER BY took_office DESC
1141
 SELECT Minister ,  Party_Name FROM party ORDER BY took_office DESC
1142
 SELECT Minister FROM party ORDER BY Left_Office DESC LIMIT 1
1143
 SELECT Minister FROM party ORDER BY Left_Office DESC LIMIT 1
1144
 SELECT count(*) FROM party_events
1145
 SELECT count(*) FROM party_events
1146
 SELECT Event_Name FROM party_events GROUP BY Event_Name HAVING COUNT(*)  >  2
1147
 SELECT event_name FROM party_events GROUP BY event_name HAVING count(*)  >  2
1176
 SELECT dname FROM department ORDER BY mgr_start_date
1177

 SELECT dependent_name FROM dependent WHERE relationship  =  'spouse' AND employee_id  !=  0
1178
 SELECT count(*) FROM dependent WHERE sex  =  'F'
1179
 SELECT fname ,  lname FROM Employee WHERE salary  >  30000
1180
 SELECT count(*) ,  sex FROM employee WHERE salary  <  50000 GROUP BY sex
1181
 SELECT fname ,  lname ,  address FROM Employee ORDER BY bdate ASC
1189
 SELECT name FROM races ORDER BY date DESC LIMIT 1
1190
 SELECT name FROM races ORDER BY YEAR DESC LIMIT 1
1191
 SELECT name ,  date FROM races ORDER BY date DESC LIMIT 1
1192
 SELECT name ,  date FROM races ORDER BY date DESC LIMIT 1
1193
 SELECT name FROM races WHERE YEAR  =  2017
1194
 SELECT name FROM races WHERE YEAR  =  2017
1195
 SELECT DISTINCT name FROM races WHERE YEAR BETWEEN 2014 AND 2017
1196
 SELECT DISTINCT name FROM races WHERE YEAR BETWEEN 2014 AND 2017
1197
 SELECT forename ,  surname FROM drivers WHERE nationality  =  'German'
1198
 SELECT Forename ,  Surname FROM drivers WHERE Nationality  =  'German'
1199
 SELECT Nationality ,  COUNT(*) FROM Constructors GROUP BY Nationality
1200
 SELECT Nationality ,  COUNT(*) FROM Constructors GROUP BY Nationality
1201
 SELECT constructorid ,  count(*) FROM constructorstandings GROUP BY constructorid
1202
 SELECT constructorid ,  count(*) FROM constructorstandings GROUP BY constructorid
1203
 SELECT DISTINCT forename FROM drivers ORDER BY forename
1204
 SELECT DISTINCT Forename FROM drivers ORDER BY Forename
1205
 SELECT DISTINCT name FROM races ORDER BY name DESC
1206
 SELECT DISTINCT Name FROM Races ORDER BY Name DESC
1207
 SELECT name FROM races WHERE YEAR  >=  2009 AND YEAR  <=  2011
1208
 SELECT name FROM races WHERE YEAR BETWEEN 2009 AND 2011
1209
 SELECT name FROM races WHERE time  >  12 OR time  <  9
1210
 SELECT name FROM races WHERE TIME  >  12 OR TIME  <  09
1211
 SELECT name FROM circuits WHERE country  =  'United Kingdom' OR country  =  'Malaysia'
1212
 SELECT name FROM circuits WHERE country  =  'United Kingdom' OR country  =  'Malaysia'
1213
 SELECT circuitid ,  LOCATION FROM circuits WHERE country  =  'France' OR country  =  'Belgium'
1214
 SELECT circuitid ,  LOCATION FROM circuits WHERE country  =  "France" OR country  =  "Belgium"
1233
 SELECT count(*) FROM entrepreneur
1234
 SELECT count(*) FROM entrepreneur
1235
 SELECT Company FROM entrepreneur ORDER BY Money_Requested DESC
1236
 SELECT Company FROM entrepreneur ORDER BY Money_Requested DESC
1237
 SELECT Company ,  Investor FROM entrepreneur
1238
 SELECT Company ,  Investor FROM entrepreneur
1239
 SELECT avg(Money_Requested) FROM entrepreneur
1240
 SELECT avg(Money_requested) FROM entrepreneur
1241
 SELECT Name FROM People ORDER BY Weight ASC
1242
 SELECT Name FROM People ORDER BY Weight ASC
1243
 SELECT Weight FROM people ORDER BY Height ASC LIMIT 1
1244
 SELECT Weight FROM people ORDER BY Height ASC LIMIT 1
1245
 SELECT Investor ,  COUNT(*) FROM entrepreneur GROUP BY Investor
1246
 SELECT Investor ,  COUNT(*) FROM entrepreneur GROUP BY Investor
1247
 SELECT Investor FROM entrepreneur GROUP BY Investor ORDER BY COUNT(*) DESC LIMIT 1
1248
 SELECT Investor FROM entrepreneur GROUP BY Investor ORDER BY COUNT(*) DESC LIMIT 1
1249
 SELECT Investor FROM entrepreneur GROUP BY Investor HAVING COUNT(*)  >=  2
1250
 SELECT Investor FROM entrepreneur GROUP BY Investor HAVING COUNT(*)  >=  2
1251
 SELECT count(DISTINCT company) FROM entrepreneur
1252
 SELECT count(DISTINCT company) FROM entrepreneur
1346
 SELECT count(*) FROM county_public_safety
1347
 SELECT count(*) FROM county_public_safety
1348
 SELECT name FROM county_public_safety ORDER BY Population DESC
1349
 SELECT name FROM county_public_safety ORDER BY Population DESC
1350
 SELECT DISTINCT Police_Force FROM county_public_safety WHERE LOCATION != "East Side"
1351
 SELECT DISTINCT Police_Force FROM county_public_safety WHERE LOCATION != "East"
1352
 SELECT min(crime_rate) ,  max(crime_rate) FROM county_public_safety
1353
 SELECT min(crime_rate) ,  max(crime_rate) FROM county_public_safety
1354
 SELECT Crime_Rate FROM county_public_safety ORDER BY Police_Force ASC
1355
 SELECT Crime_Rate FROM county_public_safety ORDER BY Police_Force ASC
1356
 SELECT Name FROM city ORDER BY Name ASC
1357
 SELECT Name FROM city ORDER BY Name ASC
1358
 SELECT hispanic_percent FROM city WHERE black  >  10
1359
 SELECT hispanic  FROM city WHERE black  >  10
1360
 SELECT name FROM county_public_safety ORDER BY Population DESC LIMIT 1
1361
 SELECT name FROM county_public_safety ORDER BY Population DESC LIMIT 1
1362
 SELECT name FROM city ORDER BY white DESC LIMIT 5
1363
 SELECT name FROM city ORDER BY White DESC LIMIT 5
1364
 SELECT Police_Force ,  COUNT(*) FROM county_public_safety GROUP BY Police_Force
1365
 SELECT police_force ,  count(*) FROM county_public_safety GROUP BY police_force
1366
 SELECT LOCATION FROM county_public_safety GROUP BY LOCATION ORDER BY count(*) DESC LIMIT 1
1367
 SELECT LOCATION FROM county_public_safety GROUP BY LOCATION ORDER BY count(*) DESC LIMIT 1
1368
 SELECT Case_Burden FROM county_public_safety ORDER BY Population DESC
1369
 SELECT case_burden FROM county_public_safety ORDER BY Population DESC
1447
 SELECT count(*) FROM region
1448
 SELECT count(*) FROM region
1449
 SELECT region_code ,  region_name FROM region ORDER BY region_code
1450
 SELECT region_code ,  region_name FROM region ORDER BY region_code
1451
 SELECT region_name FROM region ORDER BY region_name
1452
 SELECT region_name FROM region ORDER BY region_name
1453
 SELECT region_name FROM region EXCEPT SELECT region_name FROM region WHERE region_name  =  "Danmark"
1454
 SELECT region_name FROM region WHERE region_code != "DK"
1455
 SELECT count(*) FROM storm WHERE Number_Deaths  >  0
1456
 SELECT count(*) FROM storm WHERE Number_Deaths  >  0
1457
 SELECT name ,  dates_active ,  number_deaths FROM storm WHERE number_deaths  >=  1
1458
 SELECT name ,  Dates_active ,  number_deaths FROM storm WHERE number_deaths  >  1
1459
 SELECT avg(damage_millions_usd) ,  max(damage_millions_usd) FROM storm WHERE max_speed  >  1000
1460
 SELECT avg(damage_millions_usd) ,  max(damage_millions_usd) FROM storm WHERE max_speed  >  1000
1461
 SELECT name ,  damage_millions_usd FROM storm ORDER BY max_speed DESC
1462
 SELECT name ,  damage_millions_usd FROM storm ORDER BY max_speed DESC
1463
 SELECT count(*) FROM affected_region
1464
 SELECT count(DISTINCT affected_region) FROM affected_region
1503
 SELECT count(*) FROM journalist
1504
 SELECT Name FROM journalist ORDER BY Years_Working ASC
1505
 SELECT Nationality ,  Age FROM journalist
1506
 SELECT Name FROM journalist WHERE Nationality  =  "England" OR Nationality  =  "Wales"
1507
 SELECT avg(Years_Working) FROM journalist
1508
 SELECT Nationality FROM journalist ORDER BY Years_Working DESC LIMIT 1
1509
 SELECT Nationality ,  COUNT(*) FROM journalist GROUP BY Nationality
1510
 SELECT Nationality FROM journalist GROUP BY Nationality ORDER BY COUNT(*) DESC LIMIT 1
1511
 SELECT Date ,  Venue ,  Name FROM event ORDER BY Event_Attendance DESC
1512
 SELECT avg(Event_Attendance) ,  max(Event_Attendance) FROM event
1513
 SELECT Venue ,  Name FROM event GROUP BY Venue ORDER BY Event_Attendance DESC LIMIT 2
1638
 SELECT count(*) FROM Assessment_Notes
1639
 SELECT date_of_notes FROM Assessment_Notes
1640
 SELECT count(*) FROM addresses WHERE zip_postcode  =  197
1641
 SELECT count(DISTINCT incident_type_code) FROM Behavior_Incident
1642
 SELECT DISTINCT detention_type_code FROM detention
1643
 SELECT date_incident_start ,  date_incident_end FROM Behavior_Incident WHERE incident_type_code  =  "NOISE"
1644
 SELECT detention_summary FROM Detention
1645
 SELECT cell_mobile_number ,  email_address FROM Students
1646
 SELECT email_address FROM Students WHERE first_name  =  "Emma" AND last_name  =  "Rohan"
1647
 SELECT count(DISTINCT student_id) FROM Students_in_detention
1648
 SELECT gender FROM teachers WHERE last_name  =  "Medhurst"
1649
 SELECT incident_type_description FROM Ref_Incident_type WHERE incident_type_code  =  "VIOLENCE"
1650
 SELECT max(monthly_rental) ,  min(monthly_rental) FROM Student_Addresses
1651
 SELECT first_name FROM teachers WHERE email_address LIKE "%man%"
1652
 SELECT * FROM Assessment_Notes ORDER BY date_of_notes ASC
1653

 SELECT city FROM addresses ORDER BY city
1654
 SELECT first_name ,  last_name FROM Teachers ORDER BY last_name
1655
 SELECT * FROM Student_Addresses ORDER BY monthly_rental DESC
1772
 SELECT sum(Num_of_component) FROM furniture
1773
 SELECT Name ,  Furniture_ID FROM furniture ORDER BY Market_Rate DESC LIMIT 1
1774
 SELECT sum(Market_Rate) FROM furniture GROUP BY Name ORDER BY Market_Rate DESC LIMIT 2
1775
 SELECT Name ,  Num_of_component FROM furniture WHERE Num_of_component  >  10
1776
 SELECT Name ,  Num_of_component FROM furniture ORDER BY Num_of_component ASC LIMIT 1
1777
 SELECT Name ,  Open_Year FROM manufacturer ORDER BY Num_of_Shops DESC LIMIT 1
1778
 SELECT avg(num_of_factories) FROM manufacturer WHERE num_of_shops  >  20
1779
 SELECT Name ,  Manufacturer_ID FROM manufacturer ORDER BY Open_Year
1780
 SELECT Name ,  Open_Year FROM manufacturer WHERE Num_of_Factories  <  10 OR Num_of_Shops  >  10
1781
 SELECT avg(num_of_factories) ,  max(num_of_shops) FROM manufacturer WHERE open_year  <  1990
1850
 SELECT song_name FROM song ORDER BY releasedate DESC LIMIT 1
1851
 SELECT song_name FROM Song ORDER BY releasedate DESC LIMIT 1
1852
 SELECT f_id FROM files ORDER BY duration DESC LIMIT 1
1853
 SELECT f_id FROM files ORDER BY duration DESC LIMIT 1
1854
 SELECT song_name FROM Song WHERE languages  =  'English'
1855
 SELECT song_name FROM Song WHERE languages  =  'English'
1856
 SELECT f_id FROM files WHERE formats  =  'mp3'
1857
 SELECT f_id FROM files WHERE formats  =  'mp3'
1858
 SELECT count(*) FROM Files WHERE duration  =  '4:00'
1859
 SELECT count(*) FROM files WHERE duration  =  '4:00'
1860
 SELECT count(*) FROM artist WHERE country  =  'Bangladesh'
1861
 SELECT count(*) FROM artist WHERE country  =  'Bangladesh'
1862
 SELECT format FROM files GROUP BY format ORDER BY count(*) DESC LIMIT 1
1863
 SELECT formats FROM files GROUP BY formats ORDER BY count(*) DESC LIMIT 1
1864
 SELECT count(*) ,  gender FROM artist GROUP BY gender
1865
 SELECT count(*) ,  gender FROM artist GROUP BY gender
1866
 SELECT language ,  avg(rating) FROM song GROUP BY language
1867
 SELECT language ,  avg(rating) FROM song GROUP BY language
1868
 SELECT format ,  count(DISTINCT artist_name) FROM Files GROUP BY format
1869
 SELECT count(*) ,  format FROM Files GROUP BY format
1870
 SELECT g_name ,  rating FROM genre ORDER BY rating
1871
 SELECT g_name ,  rating FROM genre ORDER BY g_name
1872
 SELECT song_name FROM Song ORDER BY resolution
1873
 SELECT song_name FROM song ORDER BY resolution
1874
 SELECT languages FROM Song GROUP BY languages ORDER BY count(*) DESC LIMIT 1
1875
 SELECT languages FROM Song GROUP BY languages ORDER BY count(*) DESC LIMIT 1
1876
 SELECT languages FROM Song WHERE resolution  >  500 GROUP BY languages ORDER BY count(*) DESC LIMIT 1
1877
 SELECT artist_name FROM song WHERE resolution  >  500 GROUP BY languages ORDER BY count(*) DESC LIMIT 1
1878
 SELECT artist_name FROM artist WHERE gender  =  'Male' AND country  =  'UK'
1879
 SELECT artist_name FROM artist WHERE country  =  'Britain' AND gender  =  'male'
1880
 SELECT song_name FROM Song WHERE genre_is  =  'modern' OR languages  =  'English'
1881
 SELECT song_name FROM Song WHERE genre_is  =  'modern' OR language  =  'English'
1882
 SELECT avg(rating) ,  avg(resolution) FROM Song WHERE languages  =  'Bangla'
1883
 SELECT avg(rating) ,  avg(resolution) FROM Song WHERE languages  =  'Bangla'
1884
 SELECT F_ID ,  genre_is ,  artist_name FROM Song WHERE languages  =  'English' ORDER BY rating
1885
 SELECT f_id ,  genre_is ,  song_name FROM Song WHERE languages  =  'English' ORDER BY rating
2360
 SELECT count(*) FROM products
2361
 SELECT product_name FROM products ORDER BY product_price ASC
2362
 SELECT product_name ,  product_type_code FROM products
2363
 SELECT product_price FROM products WHERE product_name  =  "Dining" OR product_name  =  "Trading Policy"
2364
 SELECT avg(product_price) FROM products
2365
 SELECT product_name FROM products ORDER BY product_price DESC LIMIT 1
2366
 SELECT product_type_code ,  count(*) FROM Products GROUP BY product_type_code
2367
 SELECT product_type_code FROM products GROUP BY product_type_code ORDER BY count(*) DESC LIMIT 1
2368
 SELECT product_type_code FROM products GROUP BY product_type_code HAVING count(*)  >=  2
2369
 SELECT count(*) FROM artwork
2370
 SELECT Name FROM Artwork ORDER BY Name ASC
2371
 SELECT name FROM artwork WHERE TYPE != "Program Talent Show"
2372
 SELECT Festival_name ,  LOCATION FROM festival_detail
2373
 SELECT Chair_name FROM festival_detail ORDER BY YEAR ASC
2374
 SELECT LOCATION FROM festival_detail ORDER BY Num_of_Audience DESC LIMIT 1
2375
 SELECT Festival_Name FROM festival_detail WHERE YEAR  =  2007
2376
 SELECT avg(Num_of_Audience) FROM festival_detail
2377
 SELECT festival_name FROM festival_detail ORDER BY YEAR DESC LIMIT 3
2378
 SELECT TYPE ,  count(*) FROM Artwork GROUP BY TYPE
2379
 SELECT TYPE FROM artwork GROUP BY TYPE ORDER BY COUNT(*) DESC LIMIT 1
2380
 SELECT YEAR FROM festival_detail GROUP BY YEAR HAVING COUNT(*)  >  1
2381
 SELECT num_of_audience FROM festival_detail WHERE YEAR  =  2008 OR YEAR  =  2010
2382
 SELECT sum(Num_of_Audience) FROM festival_detail
2622
 SELECT count(*) FROM bookings
2623
 SELECT count(*) FROM bookings
2624
 SELECT planned_delivery_date FROM bookings
2625
 SELECT planned_delivery_date FROM bookings
2626
 SELECT planned_delivery_date ,  actual_delivery_date FROM bookings
2627
 SELECT planned_delivery_date ,  actual_delivery_date FROM bookings
2628
 SELECT count(*) FROM Customers
2629
 SELECT count(*) FROM Customers
2630
 SELECT customer_phone ,  customer_email_address FROM Customers WHERE customer_name  =  "Harold"
2631
 SELECT customer_phone ,  customer_email_address FROM Customers WHERE customer_name  =  "Harold"
2632
 SELECT Store_Name FROM Drama_Workshop_Groups
2633
 SELECT store_name FROM Drama_Workshop_Groups
2634
 SELECT min(order_quantity) ,  avg(order_quantity) ,  max(order_quantity) FROM Invoices
2635
 SELECT min(order_quantity) ,  avg(order_quantity) ,  max(order_quantity) FROM Invoices
2636
 SELECT DISTINCT payment_method_code FROM invoices
2637
 SELECT DISTINCT Payment_Method_Code FROM Invoices
2638
 SELECT marketing_region_descriptrion FROM Marketing_Regions WHERE marketing_region_name  =  "China"
2639
 SELECT marketing_region_descriptrion FROM Marketing_Regions WHERE marketing_region_name  =  "China"
2640
 SELECT product_name FROM products ORDER BY product_price DESC LIMIT 1
2641
 SELECT product_name FROM products ORDER BY product_price DESC LIMIT 1
2642
 SELECT product_name FROM products ORDER BY product_price ASC
2643
 SELECT product_name FROM products ORDER BY product_price ASC
2644
 SELECT customer_phone FROM performers WHERE performer_name = "Ashley";
2645
 SELECT customer_phone FROM performers WHERE customer_name  =  "Ashley"
2646
 SELECT Payment_Method_Code ,  COUNT(*) FROM Invoices GROUP BY Payment_Method_Code
2647
 SELECT payment_method_code ,  count(*) FROM Invoices GROUP BY payment_method_code
2648
 SELECT Payment_Method_Code FROM Invoices GROUP BY Payment_Method_Code ORDER BY count(*) DESC LIMIT 1
2649
 SELECT Payment_Method_Code FROM Invoices GROUP BY Payment_Method_Code ORDER BY count(*) DESC LIMIT 1
2650
 SELECT product_name ,  avg(product_price) FROM products GROUP BY product_name
2651
 SELECT distinct product_name ,  avg(product_price) FROM products GROUP BY product_name
2652
 SELECT product_name FROM products GROUP BY product_name HAVING avg(product_price)  <  1000000
2653
 SELECT product_name FROM products GROUP BY product_name HAVING avg(product_price)  <  1000000
2654
 SELECT count(DISTINCT currency_code) FROM Drama_Workshop_Groups
2655
 SELECT count(DISTINCT currency_code) FROM Drama_Workshop_Groups
2656
 SELECT marketing_region_code FROM Drama_Workshop_Groups GROUP BY marketing_region_code ORDER BY count(*) DESC LIMIT 1
2657
 SELECT marketing_region_code FROM Drama_Workshop_Groups GROUP BY marketing_region_code ORDER BY count(*) DESC LIMIT 1
2658
 SELECT Status_Code FROM bookings GROUP BY Status_Code ORDER BY count(*) DESC LIMIT 1
2659
 SELECT status_code FROM bookings GROUP BY status_code ORDER BY count(*) DESC LIMIT 1
2660
 SELECT avg(order_quantity) FROM invoices WHERE payment_method_code  =  "MasterCard"
2661

 SELECT avg(order_quantity) FROM invoices WHERE payment_method_code  =  "MasterCard"
2662
 SELECT product_id FROM invoices GROUP BY product_id ORDER BY count(*) DESC LIMIT 1
2663
 SELECT product_id FROM invoices GROUP BY product_id ORDER BY count(*) DESC LIMIT 1
2760
 SELECT name ,  address_road ,  city FROM branch ORDER BY open_year
2761
 SELECT name ,  address_road ,  city FROM branch ORDER BY open_year
2762
 SELECT name FROM branch ORDER BY Membership_amount DESC LIMIT 3
2763
 SELECT name FROM branch ORDER BY Membership_amount DESC LIMIT 3
2764
 SELECT DISTINCT city FROM branch WHERE membership_amount  >=  100
2765
 SELECT DISTINCT city FROM branch WHERE membership_amount  >  100
2766
 SELECT open_year FROM branch GROUP BY open_year HAVING count(*)  >=  2
2767
 SELECT Open_Year FROM branch GROUP BY Open_Year HAVING COUNT(*)  >=  2
2768
 SELECT min(Membership_amount) ,  max(Membership_amount) FROM branch WHERE open_year  =  2011 OR city  =  'London'
2769
 SELECT min(Membership_amount) ,  max(Membership_amount) FROM branch WHERE Open_year  =  2011 OR Address_road  =  'London'
2770
 SELECT city ,  count(*) FROM branch WHERE open_year  <  2010 GROUP BY city
2771
 SELECT city ,  count(*) FROM branch WHERE open_year  <  2010 GROUP BY city
2772
 SELECT count(DISTINCT LEVEL) FROM member
2773
 SELECT DISTINCT Level FROM member
2774
 SELECT card_number ,  name ,  hometown FROM member ORDER BY level DESC
2775
 SELECT card_number ,  name ,  hometown FROM member ORDER BY level DESC
2776
 SELECT LEVEL FROM member GROUP BY LEVEL ORDER BY count(*) DESC LIMIT 1
2777
 SELECT Level FROM member GROUP BY Level ORDER BY COUNT(*) DESC LIMIT 1
2778
 SELECT city FROM branch WHERE open_year  =  2001 AND Membership_amount  >  100
2779
 SELECT city FROM branch WHERE open_year  =  2001 AND membership_amount  >  100
2780
 SELECT Card_Number FROM member WHERE Hometown LIKE "%Kentucky%"
2781
 SELECT Card_Number FROM member WHERE Hometown  =  'Kentucky'
2885
 SELECT count(*) FROM addresses WHERE country  =  'USA'
2886
 SELECT DISTINCT city FROM addresses
2887
 SELECT state_province_county ,  count(*) FROM addresses GROUP BY state_province_county
2888
 SELECT product_type_code FROM products GROUP BY product_type_code HAVING count(*)  >=  2
2889
 SELECT customer_name ,  customer_phone ,  payment_method_code FROM Customers ORDER BY customer_number DESC
2890
 SELECT min(product_price) ,  max(product_price) ,  avg(product_price) FROM products
2891
 SELECT product_type_code ,  product_name FROM products WHERE product_price  >  1000 OR product_price  <  500
3055
 SELECT count(*) FROM video_games
3056
 SELECT count(*) FROM video_games
3057
 SELECT count(DISTINCT gtype) FROM video_games
3058
 SELECT count(DISTINCT gtype) FROM video_games
3059
 SELECT DISTINCT gtype FROM Video_Games
3060
 SELECT DISTINCT gtype FROM video_games
3061
 SELECT gname ,  gtype FROM video_games ORDER BY gname
3062
 SELECT GName ,  GType FROM VIDEO_GAMES ORDER BY GName
3063
 SELECT * FROM Video_games WHERE gtype  =  'Collectible card game'
3064
 SELECT gname FROM video_games WHERE gtype  =  'collectible cards'
3065
 SELECT gtype FROM Video_Games WHERE gname  =  "Call of Destiny"
3066
 SELECT gtype FROM Video_Games WHERE gname  =  "Call of Destiny"
3067
 SELECT count(*) FROM video_games WHERE gtype  =  'Massively multiplayer online game'
3068
 SELECT count(*) FROM video_games WHERE gtype  =  'Massively multiplayer online game'
3069
 SELECT gtype ,  count(*) FROM Video_Games GROUP BY gtype
3070
 SELECT gtype ,  count(*) FROM Video_games GROUP BY gtype
3071
 SELECT gtype FROM Video_Games GROUP BY gtype ORDER BY count(*) DESC LIMIT 1
3072
 SELECT gtype FROM Video_Games GROUP BY gtype ORDER BY count(*) DESC LIMIT 1
3073
 SELECT gtype FROM Video_Games GROUP BY gtype ORDER BY count(*) ASC LIMIT 1
3074
 SELECT gtype FROM video_games GROUP BY gtype ORDER BY count(*) LIMIT 1
3075
 SELECT StuID FROM Student WHERE city_code  =  "CHI"
3076
 SELECT StuID FROM Student WHERE city_code  =  "CHI"
3077
 SELECT StuID FROM Student WHERE Advisor =  1121
3078
 SELECT StuID FROM Student WHERE Advisor =  1121
3079
 SELECT Fname FROM STUDENT WHERE Major  =  600
3080
 SELECT Fname FROM STUDENT WHERE Major  =  600
3081
 SELECT avg(age) ,  min(age) ,  max(age) ,  major FROM student GROUP BY major
3082
 SELECT avg(age) ,  min(age) ,  max(age) ,  major FROM student GROUP BY major
3083
 SELECT Advisor FROM STUDENT GROUP BY Advisor HAVING count(*)  >=  2
3084
 SELECT Advisor FROM STUDENT
3085
 SELECT count(*) FROM sportsinfo
3086
 SELECT count(DISTINCT sportname) FROM sportsinfo
3087
 SELECT count(*) FROM sportsinfo
3088
 SELECT count(DISTINCT stuid) FROM sportsinfo
3089
 SELECT StuID FROM SportsInfo WHERE OnScholarship  =  1
3090
 SELECT StuID FROM SportsInfo WHERE OnScholarship  =  'Yes'
3091
 SELECT sum(gamesplayed) FROM sportsinfo
3092
 SELECT sum(gamesplayed) FROM SportsInfo
3093
 SELECT sum(gamesplayed) FROM sportsinfo WHERE onscholarship  =  'Yes' AND sportname  =  'Football'
3094
 SELECT sum(Gamesplayed) FROM SportsInfo WHERE OnScholarship  =  'Yes'
3095
 SELECT sportname ,  count(*) FROM SportsInfo GROUP BY sportname
3096
 SELECT sportname ,  count(*) FROM sportsinfo GROUP BY sportname
3097
 SELECT StuID ,  count(*) ,  sum(gamesplayed) FROM SportsInfo GROUP BY StuID
3098
 SELECT StuID ,  COUNT(*) FROM SportsInfo GROUP BY StuID
3099
 SELECT StuID FROM sportsinfo GROUP BY StuID HAVING sum(hoursperweek)  >  sum(hoursperweek) *  2
3100
 SELECT StuID FROM sportsinfo WHERE HoursPerWeek  >  10
3101
 SELECT sportname FROM sportsinfo WHERE onscholarship  =  'Yes' GROUP BY sportname ORDER BY count(*) DESC LIMIT 1
3102
 SELECT sportname FROM sportsinfo WHERE onscholarship  =  1 GROUP BY sportname ORDER BY count(*) DESC LIMIT 1
3103
 SELECT count(DISTINCT StuID) FROM Plays_Games
3104
 SELECT count(DISTINCT StuID) FROM Plays_Games
3105
 SELECT gameid ,  Hours_Played FROM Plays_Games
3106
 SELECT gameid ,  sum(hours_played) FROM plays_games GROUP BY gameid
3107
 SELECT StuID ,  Hours_Played FROM Plays_Games;
3108
 SELECT StuID ,  Hours_Played FROM Plays_Games
3189
 SELECT count(*) FROM roller_coaster
3190
 SELECT Name FROM roller_coaster ORDER BY Length ASC
3191
 SELECT Length ,  Height FROM roller_coaster
3192
 SELECT name FROM country WHERE languages != 'German'
3193
 SELECT Status FROM roller_coaster WHERE Length  >  3300 OR Height  >  100
3194
 SELECT Speed FROM roller_coaster ORDER BY Length DESC LIMIT 1
3195
 SELECT avg(Speed) FROM roller_coaster
3196
 SELECT Status ,  COUNT(*) FROM roller_coaster GROUP BY Status
3197
 SELECT Status FROM roller_coaster GROUP BY Status ORDER BY COUNT(*) DESC LIMIT 1
3198
 SELECT Status FROM roller_coaster GROUP BY Status HAVING COUNT(*)  >  2
3199
 SELECT park FROM roller_coaster ORDER BY speed DESC LIMIT 1
3423
 SELECT DISTINCT vehicle_id FROM vehicles
3424
 SELECT vehicle_id FROM vehicles
3425
 SELECT count(*) FROM vehicles
3426
 SELECT count(*) FROM vehicles
3427
 SELECT vehicle_details FROM vehicles WHERE vehicle_id = 1
3428
 SELECT vehicle_details FROM vehicles WHERE vehicle_id = 1
3429
 SELECT first_name  ,  middle_name  ,  last_name FROM Staff
3430
 SELECT first_name ,  middle_name ,  last_name FROM staff
3431
 SELECT date_of_birth FROM staff WHERE first_name = "Janessa" AND last_name = "Sawayn"
3432
 SELECT date_of_birth FROM staff WHERE nickname  =  "Janessa Sawayn"
3433
 SELECT date_joined_staff FROM staff WHERE first_name  =  "Janessa" AND last_name  =  "Sawayn"
3434
 SELECT date_joined_staff FROM staff WHERE nickname  =  "Janessa Sawayn"
3435
 SELECT date_left_staff FROM staff WHERE first_name  =  "Janessa" AND last_name  =  "Sawayn"
3436
 SELECT date_left_staff FROM staff WHERE first_name = "Janessa" AND last_name = "Sawayn";
3437
 SELECT count(*) FROM staff WHERE first_name  =  "Ludie"
3438
 SELECT count(*) FROM staff WHERE first_name  =  "Ludie"
3439
 SELECT Nickname FROM Staff WHERE First_Name = "Janessa" AND Last_Name = "Sawayn"
3440
 SELECT Nickname FROM Staff WHERE First_Name = "Janessa" AND Last_Name = "Sawayn";
3441
 SELECT count(*) FROM Staff
3442
 SELECT count(*) FROM staff
3443
 SELECT count(*) FROM addresses WHERE state_province_county  =  "Georgia"
3444
 SELECT count(*) FROM addresses WHERE state_province_county  =  'Georgia'
3445

 SELECT first_name ,  last_name FROM customers
3446
 SELECT first_name ,  last_name FROM customers
3447
 SELECT email_address ,  date_of_birth FROM Customers WHERE first_name  =  "Carole"
3448
 SELECT email_address ,  date_of_birth FROM Customers WHERE first_name  =  "Carole"
3449
 SELECT phone_number ,  email_address FROM customers WHERE amount_outstanding  >  2000
3450
 SELECT phone_number ,  email_address FROM customers WHERE amount_outstanding  >  2000
3451
 SELECT customer_status_code ,  cell_mobile_phone_number ,  email_address FROM Customers WHERE last_name  =  "Kohler" OR first_name  =  "Marina"
3452
 SELECT customer_status_code ,  phone_number ,  email_address FROM Customers WHERE first_name  =  "Marina" OR last_name  =  "Kohler"
3453
 SELECT date_of_birth FROM customers WHERE customer_status_code  =  'Good Customer'
3454
 SELECT date_of_birth FROM customers WHERE customer_status_code  =  'Good Customer'
3455
 SELECT date_became_customer FROM customers WHERE first_name  =  "Carole" AND last_name  =  "Bernhard"
3456
 SELECT date_became_customer FROM Customers WHERE first_name = "Carole" AND last_name = "Bernhard";
3457
 SELECT count(*) FROM customers
3458
 SELECT count(*) FROM Customers
3459
 SELECT customer_status_code ,  count(*) FROM Customers GROUP BY customer_status_code
3460
 SELECT customer_status_code ,  count(*) FROM customers GROUP BY customer_status_code
3461
 SELECT customer_status_code FROM customers GROUP BY customer_status_code ORDER BY count(*) LIMIT 1
3462
 SELECT customer_status_code FROM customers GROUP BY customer_status_code ORDER BY count(*) LIMIT 1
3463
 SELECT max(amount_outstanding) ,  min(amount_outstanding) ,  avg(amount_outstanding) FROM customers
3464
 SELECT max(amount_outstanding) ,  min(amount_outstanding) ,  avg(amount_outstanding) FROM Customers
3465
 SELECT first_name ,  last_name FROM customers WHERE amount_outstanding BETWEEN 1000 AND 3000
3466
 SELECT first_name ,  last_name FROM customers WHERE amount_outstanding BETWEEN 1000 AND 3000
3467
 SELECT payment_method_code ,  count(*) FROM customer_payments GROUP BY payment_method_code
3468
 SELECT payment_method_code ,  count(*) FROM customer_payments GROUP BY payment_method_code
3469
 SELECT count(*) FROM lessons WHERE lesson_status_code  =  "Cancelled"
3470
 SELECT count(*) FROM lessons WHERE lesson_status_code  =  'Cancelled'
3511
 SELECT name FROM airports WHERE city  =  "Goroka"
3512
 SELECT name FROM airports WHERE city  =  'Goroka'
3513
 SELECT name ,  city ,  country ,  elevation FROM airports WHERE city  =  "New York"
3514
 SELECT name ,  city ,  country ,  elevation FROM airports WHERE city  =  'New York'
3515
 SELECT count(*) FROM airlines
3516
 SELECT count(*) FROM airlines
3517
 SELECT count(*) FROM Airlines WHERE country = "Russia"
3518
 SELECT count(*) FROM airlines WHERE country  =  "Russia"
3519
 SELECT max(elevation) FROM airports WHERE country  =  'Iceland'
3520
 SELECT elevation FROM airports WHERE country  =  "Iceland"
3521
 SELECT name FROM airports WHERE country  =  'Cuba' OR country  =  'Argentina'
3522
 SELECT name FROM airports WHERE country  =  "Cuba" OR country  =  "Argentina"
3523
 SELECT country FROM airlines WHERE name LIKE '%Orbit%'
3524
 SELECT country FROM airlines WHERE name LIKE "Orbit%"
3525
 SELECT name FROM airports WHERE elevation BETWEEN -50 AND 50
3526
 SELECT name FROM airports WHERE elevation BETWEEN -50 AND 50
3527
 SELECT country FROM airports ORDER BY elevation DESC LIMIT 1
3528
 SELECT country FROM airports ORDER BY elevation DESC LIMIT 1
3529
 SELECT count(*) FROM airports WHERE name LIKE '%International%'
3530
 SELECT count(*) FROM airports WHERE name LIKE '%Interanation%'
3531
 SELECT count(DISTINCT city) FROM airports WHERE country  =  'Greenland'
3532
 SELECT count(*) FROM airports WHERE country  =  'Greenland'
3533
 SELECT name ,  city ,  country FROM airports ORDER BY elevation LIMIT 1
3534
 SELECT name ,  city ,  country FROM airports ORDER BY elevation LIMIT 1
3535
 SELECT name ,  city ,  country FROM airports ORDER BY x DESC LIMIT 1
3536
 SELECT name ,  city ,  country FROM airports ORDER BY elevation DESC LIMIT 1
3537
 SELECT country ,  count(*) FROM airlines GROUP BY country ORDER BY count(*) DESC LIMIT 1
3538
 SELECT country FROM airlines GROUP BY country ORDER BY count(*) DESC LIMIT 1
3539
 SELECT country FROM airlines WHERE active = 'Y' GROUP BY country ORDER BY count(*) DESC LIMIT 1
3540
 SELECT country FROM airlines WHERE active = "Y" GROUP BY country ORDER BY count(*) DESC LIMIT 1
3541
 SELECT country ,  count(*) FROM airlines GROUP BY country ORDER BY count(*) DESC
3542
 SELECT country ,  count(*) FROM airlines GROUP BY country ORDER BY count(*) DESC
3543
 SELECT country ,  count(*) FROM airports GROUP BY country ORDER BY count(*) DESC
3544
 SELECT count(*) ,  country FROM airports GROUP BY country ORDER BY count(*) DESC
3545
 SELECT city ,  count(*) FROM airports WHERE country  =  'United States' GROUP BY city ORDER BY count(*) DESC
3546
 SELECT city ,  count(*) FROM airports WHERE country  =  'USA' GROUP BY city ORDER BY count(*) DESC
3547
 SELECT city FROM airports WHERE country  =  'United States' AND count(*)  >  3
3548
 SELECT count(*) FROM airports WHERE country  =  'United States' AND count(*)  >  3
3549
 SELECT city ,  count(*) FROM airports GROUP BY city HAVING count(*)  >  1
3550
 SELECT city ,  count(*) FROM airports GROUP BY city HAVING count(*)  >  1
3551
 SELECT city FROM airports GROUP BY city HAVING count(*)  >  2 ORDER BY count(*)
3552
 SELECT city FROM airports GROUP BY city HAVING count(*)  >  2 ORDER BY count(*)
3553
 SELECT country ,  avg(elevation) FROM airports GROUP BY country
3554
 SELECT country ,  avg(elevation) FROM airports GROUP BY country
3555
 SELECT city FROM airports GROUP BY city HAVING count(*)  =  2
3556
 SELECT city FROM airports GROUP BY city HAVING count(*)  =  2

In [14]:
tmp.to_csv('davinci-ft-mercator-2023-01-25-23-01-53-completions.csv')

In [15]:
tmp.head()

,open_ai_prompt,open_ai_completion,model_response
173,Schema: create table `catalog_contents` (`cata...,SELECT distinct(catalog_entry_name) FROM cata...,SELECT DISTINCT catalog_entry_name FROM CATAL...
174,Schema: create table `catalog_contents` (`cata...,SELECT distinct(catalog_entry_name) FROM cata...,SELECT DISTINCT catalog_entry_name FROM Catal...
175,Schema: create table `attribute_definitions` (...,SELECT attribute_data_type FROM Attribute_Def...,SELECT attribute_data_type FROM attribute_def...
176,Schema: create table `attribute_definitions` (...,SELECT attribute_data_type FROM Attribute_Def...,SELECT attribute_data_type FROM attribute_def...
177,Schema: create table `attribute_definitions` (...,SELECT attribute_data_type FROM Attribute_Def...,SELECT attribute_data_type FROM Attribute_Def...

In [16]:
tmp.shape

(538, 3)

In [17]:
# ignore white space, case, and trailing semicolons
tmp['correct'] = np.where(tmp['open_ai_completion'].str
                                                   .strip()
                                                   .str
                                                   .lower()
                                                   .apply(lambda x: re.sub('\s+', '',x).rstrip(';')) == 
                              tmp['model_response'].str
                                                   .strip()
                                                   .str
                                                   .lower()
                                                   .apply(lambda x: re.sub('\s+', '',x).rstrip(';')), 1, 0)
tmp['correct'].mean()

0.7397769516728625