In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ignore__cincy.csv')

In [3]:
df.head()

,ASSET,ASSETNHOOD,DISTANCE_TRAVELED,HEADING,ID_HAM_PVMNT_PLYGN,LATITUDE,LOADTS,LONGITUDE,ODOMETER,PPOLYLABEL,REASONS,REASONS_TEXT,SPEED,STREETFROM,STREETTO,TIME
0,116,HYDE PARK,0.1,SEE,S-HAM35857,39.142289,2.020011e+13,-84.412495,132486.6,SAYBROOK AV,10,Motion Start,7.5,WILSHIRE AV,TERM E OF WILSHIRE AV,2.020011e+13
1,457,NORTHSIDE,0.0,NW,S-HAM07341,39.158027,2.020010e+13,-84.538794,1067.1,OLD LUDLOW AV,12,Power On,0.0,WILLIAM P DOOLEY BYPS,HOFFNER ST,2.020010e+13
2,153,EAST PRICE HILL,0.2,E,S-HAM01940,39.106321,2.020012e+13,-84.574692,127236.0,W 8TH ST,11,Standard Event,30.9,ENRIGHT AV,KIRBERT AV,2.020012e+13
3,215,NaN,0.2,N,NaN,39.269699,2.020022e+13,-84.595141,84116.9,NaN,11,Standard Event,9.7,NaN,NaN,2.020022e+13
4,303,NORTHSIDE,1.9,W,I-GJ13213738,39.159551,2.020020e+13,-84.532379,24377.6,SPRING GROVE AV & WILLIAM P DOOLEY BYPS & DANE...,10,Motion Start,12.4,NaN,NaN,2.020020e+13

In [6]:
df = df[['ASSET', 'ODOMETER', 'SPEED', 'TIME', 'LONGITUDE', 'LATITUDE', 'HEADING']]

In [9]:
df = df.rename(str.lower, axis='columns')

In [26]:
import datetime

df['ymd'] = df['time'].apply(lambda x: datetime.datetime.strptime(str(x), '%Y%m%d%H%M%S.0'))

In [34]:
df.sort_values(['asset', 'time']).head(1000).to_csv('1k-pts.csv', index=False)

In [35]:
sorted_df = df.sort_values(['asset', 'time'])

In [38]:
sorted_df['unix'] = sorted_df['ymd'].apply(lambda x: int(x.strftime("%s")))

In [42]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://andrewduberstein:@localhost:5432/andrewduberstein')

sorted_df.to_sql('cincy_routes', engine)

308